/* Affix - .ant-affix */

.ant-affix {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-affix::before,
.ant-affix::after {
  box-sizing: border-box;
}

.ant-affix [class^="ant-affix"],
.ant-affix [class*=" ant-affix"] {
  box-sizing: border-box;
}

.ant-affix [class^="ant-affix"]::before,
.ant-affix [class*=" ant-affix"]::before,
.ant-affix [class^="ant-affix"]::after,
.ant-affix [class*=" ant-affix"]::after {
  box-sizing: border-box;
}

.ant-affix {
  position: fixed;
  z-index: var(--ant-affix-z-index-popup);
}

.ant-affix {
  --ant-affix-z-index-popup: 10;
}
