/* Anchor - .ant-anchor */

.ant-anchor-css-var {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-anchor-css-var::before,
.ant-anchor-css-var::after {
  box-sizing: border-box;
}

.ant-anchor-css-var [class^="ant-anchor"],
.ant-anchor-css-var [class*=" ant-anchor"] {
  box-sizing: border-box;
}

.ant-anchor-css-var [class^="ant-anchor"]::before,
.ant-anchor-css-var [class*=" ant-anchor"]::before,
.ant-anchor-css-var [class^="ant-anchor"]::after,
.ant-anchor-css-var [class*=" ant-anchor"]::after {
  box-sizing: border-box;
}

.ant-anchor-wrapper {
  margin-block-start: calc(var(--ant-padding-xxs) * -1);
  padding-block-start: var(--ant-padding-xxs);
}

.ant-anchor-wrapper .ant-anchor {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  position: relative;
  padding-inline-start: var(--ant-line-width-bold);
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link {
  padding-block: var(--ant-anchor-link-padding-block);
  padding-inline: var(--ant-anchor-link-padding-inline-start) 0;
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: block;
  margin-block-end: calc(var(--ant-font-size) / 14 * 3);
  color: var(--ant-color-text);
  transition: all var(--ant-motion-duration-slow);
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link-title:only-child {
  margin-block-end: 0;
}

.ant-anchor-wrapper
  .ant-anchor
  .ant-anchor-link-active
  > .ant-anchor-link-title {
  color: var(--ant-color-primary);
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link .ant-anchor-link {
  padding-block: calc(var(--ant-padding-xxs) / 2);
}

.ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor::before {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  height: 100%;
  border-inline-start: var(--ant-line-width-bold) var(--ant-line-type)
    var(--ant-color-split);
  content: " ";
}

.ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal)
  .ant-anchor
  .ant-anchor-ink {
  position: absolute;
  inset-inline-start: 0;
  display: none;
  transform: translateY(-50%);
  transition: top var(--ant-motion-duration-slow) ease-in-out;
  width: var(--ant-line-width-bold);
  background-color: var(--ant-color-primary);
}

.ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal)
  .ant-anchor
  .ant-anchor-ink.ant-anchor-ink-visible {
  display: inline-block;
}

.ant-anchor-wrapper .ant-anchor-fixed .ant-anchor-ink .ant-anchor-ink {
  display: none;
}

.ant-anchor-wrapper-horizontal {
  position: relative;
}

.ant-anchor-wrapper-horizontal::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-color-split);
  content: " ";
}

.ant-anchor-wrapper-horizontal .ant-anchor {
  overflow-x: scroll;
  position: relative;
  display: flex;
  scrollbar-width: none;
}

.ant-anchor-wrapper-horizontal .ant-anchor::-webkit-scrollbar {
  display: none;
}

.ant-anchor-wrapper-horizontal .ant-anchor .ant-anchor-link:first-of-type {
  padding-inline: 0;
}

.ant-anchor-wrapper-horizontal .ant-anchor .ant-anchor-ink {
  position: absolute;
  bottom: 0;
  transition:
    left var(--ant-motion-duration-slow) ease-in-out,
    width var(--ant-motion-duration-slow) ease-in-out;
  height: var(--ant-line-width-bold);
  background-color: var(--ant-color-primary);
}

.ant-anchor-css-var {
  --ant-anchor-link-padding-block: 4px;
  --ant-anchor-link-padding-inline-start: 16px;
}
