/* Avatar - .ant-avatar */

.ant-avatar-css-var {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-avatar-css-var::before,
.ant-avatar-css-var::after {
  box-sizing: border-box;
}

.ant-avatar-css-var [class^="ant-avatar"],
.ant-avatar-css-var [class*=" ant-avatar"] {
  box-sizing: border-box;
}

.ant-avatar-css-var [class^="ant-avatar"]::before,
.ant-avatar-css-var [class*=" ant-avatar"]::before,
.ant-avatar-css-var [class^="ant-avatar"]::after,
.ant-avatar-css-var [class*=" ant-avatar"]::after {
  box-sizing: border-box;
}

.ant-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text-light-solid);
  font-size: var(--ant-avatar-text-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: var(--ant-color-text-placeholder);
  border: var(--ant-line-width) var(--ant-line-type) transparent;
  width: var(--ant-avatar-container-size);
  height: var(--ant-avatar-container-size);
  border-radius: 50%;
}

.ant-avatar-image {
  background: transparent;
}

.ant-avatar .ant-image-img {
  display: block;
}

.ant-avatar.ant-avatar-square {
  border-radius: var(--ant-border-radius);
}

.ant-avatar.ant-avatar-icon {
  font-size: var(--ant-avatar-icon-font-size);
}

.ant-avatar.ant-avatar-icon > .anticon {
  margin: 0;
}

.ant-avatar-lg {
  width: var(--ant-avatar-container-size-lg);
  height: var(--ant-avatar-container-size-lg);
  border-radius: 50%;
  font-size: var(--ant-avatar-text-font-size-lg);
}

.ant-avatar-lg.ant-avatar-square {
  border-radius: var(--ant-border-radius-lg);
}

.ant-avatar-lg.ant-avatar-icon {
  font-size: var(--ant-avatar-icon-font-size-lg);
}

.ant-avatar-lg.ant-avatar-icon > .anticon {
  margin: 0;
}

.ant-avatar-sm {
  width: var(--ant-avatar-container-size-sm);
  height: var(--ant-avatar-container-size-sm);
  border-radius: 50%;
  font-size: var(--ant-avatar-text-font-size-sm);
}

.ant-avatar-sm.ant-avatar-square {
  border-radius: var(--ant-border-radius-sm);
}

.ant-avatar-sm.ant-avatar-icon {
  font-size: var(--ant-avatar-icon-font-size-sm);
}

.ant-avatar-sm.ant-avatar-icon > .anticon {
  margin: 0;
}

.ant-avatar > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ant-avatar-group {
  display: inline-flex;
}

.ant-avatar-group .ant-avatar {
  border-color: var(--ant-avatar-group-border-color);
}

.ant-avatar-group > *:not(:first-child) {
  margin-inline-start: var(--ant-avatar-group-overlapping);
}

.ant-avatar-group-popover .ant-avatar + .ant-avatar {
  margin-inline-start: var(--ant-avatar-group-space);
}

.ant-avatar-css-var {
  --ant-avatar-container-size: 32px;
  --ant-avatar-container-size-lg: 40px;
  --ant-avatar-container-size-sm: 24px;
  --ant-avatar-text-font-size: 14px;
  --ant-avatar-text-font-size-lg: 14px;
  --ant-avatar-text-font-size-sm: 14px;
  --ant-avatar-icon-font-size: 18px;
  --ant-avatar-icon-font-size-lg: 24px;
  --ant-avatar-icon-font-size-sm: 14px;
  --ant-avatar-group-space: 4px;
  --ant-avatar-group-overlapping: -8px;
  --ant-avatar-group-border-color: #ffffff;
}
