/* Carousel - .ant-carousel */

.ant-carousel {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-carousel::before,
.ant-carousel::after {
  box-sizing: border-box;
}

.ant-carousel [class^="ant-carousel"],
.ant-carousel [class*=" ant-carousel"] {
  box-sizing: border-box;
}

.ant-carousel [class^="ant-carousel"]::before,
.ant-carousel [class*=" ant-carousel"]::before,
.ant-carousel [class^="ant-carousel"]::after,
.ant-carousel [class*=" ant-carousel"]::after {
  box-sizing: border-box;
}

.ant-carousel {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
}

.ant-carousel .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.ant-carousel .slick-slider .slick-track,
.ant-carousel .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  touch-action: pan-y;
}

.ant-carousel .slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ant-carousel .slick-list:focus {
  outline: none;
}

.ant-carousel .slick-list.dragging {
  cursor: pointer;
}

.ant-carousel .slick-list .slick-slide {
  pointer-events: none;
}

.ant-carousel .slick-list .slick-slide input.ant-radio-input,
.ant-carousel .slick-list .slick-slide input.ant-checkbox-input {
  visibility: hidden;
}

.ant-carousel .slick-list .slick-slide.slick-active {
  pointer-events: auto;
}

.ant-carousel .slick-list .slick-slide.slick-active input.ant-radio-input,
.ant-carousel .slick-list .slick-slide.slick-active input.ant-checkbox-input {
  visibility: visible;
}

.ant-carousel .slick-list .slick-slide > div > div {
  vertical-align: bottom;
}

.ant-carousel .slick-track {
  position: relative;
  top: 0;
  inset-inline-start: 0;
  display: block;
}

.ant-carousel .slick-track::before,
.ant-carousel .slick-track::after {
  display: table;
  content: "";
}

.ant-carousel .slick-track::after {
  clear: both;
}

.ant-carousel .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.ant-carousel .slick-slide img {
  display: block;
}

.ant-carousel .slick-slide.dragging img {
  pointer-events: none;
}

.ant-carousel .slick-initialized .slick-slide {
  display: block;
}

.ant-carousel .slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  position: absolute;
  top: 50%;
  width: var(--ant-carousel-arrow-size);
  height: var(--ant-carousel-arrow-size);
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.4;
  background: transparent;
  padding: 0;
  line-height: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity var(--ant-motion-duration-slow);
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  opacity: 1;
}

.ant-carousel .slick-prev.slick-disabled,
.ant-carousel .slick-next.slick-disabled {
  pointer-events: none;
  opacity: 0;
}

.ant-carousel .slick-prev::after,
.ant-carousel .slick-next::after {
  box-sizing: border-box;
  position: absolute;
  top: calc(
    (
      var(--ant-carousel-arrow-size) -
      calc(var(--ant-carousel-arrow-size) / 1.4142135623730951)
    ) /
    2
  );
  inset-inline-start: calc(
    (
      var(--ant-carousel-arrow-size) -
      calc(var(--ant-carousel-arrow-size) / 1.4142135623730951)
    ) /
    2
  );
  display: inline-block;
  width: calc(var(--ant-carousel-arrow-size) / 1.4142135623730951);
  height: calc(var(--ant-carousel-arrow-size) / 1.4142135623730951);
  border: 0 solid currentcolor;
  border-inline-start-width: 2px;
  border-block-start-width: 2px;
  border-radius: 1px;
  content: "";
}

.ant-carousel .slick-prev {
  inset-inline-start: var(--ant-carousel-arrow-offset);
}

.ant-carousel .slick-prev::after {
  transform: rotate(-45deg);
}

.ant-carousel .slick-next {
  inset-inline-end: var(--ant-carousel-arrow-offset);
}

.ant-carousel .slick-next::after {
  transform: rotate(135deg);
}

.ant-carousel .slick-dots {
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.ant-carousel .slick-dots-bottom {
  bottom: var(--ant-carousel-dot-offset);
}

.ant-carousel .slick-dots-top {
  top: var(--ant-carousel-dot-offset);
  bottom: auto;
}

.ant-carousel .slick-dots li {
  position: relative;
  display: inline-block;
  flex: 0 1 auto;
  box-sizing: content-box;
  width: var(--ant-carousel-dot-width);
  height: var(--ant-carousel-dot-height);
  margin-inline: var(--ant-carousel-dot-gap);
  padding: 0;
  text-align: center;
  text-indent: -999px;
  vertical-align: top;
  transition: all var(--ant-motion-duration-slow);
  border-radius: var(--ant-carousel-dot-height);
  overflow: hidden;
}

.ant-carousel .slick-dots li::after {
  display: block;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 0;
  height: var(--ant-carousel-dot-height);
  content: "";
  background: transparent;
  border-radius: var(--ant-carousel-dot-height);
  opacity: 1;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  position: relative;
  display: block;
  width: 100%;
  height: var(--ant-carousel-dot-height);
  padding: 0;
  color: transparent;
  font-size: 0;
  background: var(--ant-color-bg-container);
  border: 0;
  border-radius: var(--ant-carousel-dot-height);
  outline: none;
  cursor: pointer;
  opacity: 0.2;
  transition: all var(--ant-motion-duration-slow);
  overflow: hidden;
}

.ant-carousel .slick-dots li button:hover {
  opacity: 0.75;
}

.ant-carousel .slick-dots li button::after {
  position: absolute;
  inset: calc(var(--ant-carousel-dot-gap) * -1);
  content: "";
}

.ant-carousel .slick-dots li.slick-active {
  width: var(--ant-carousel-dot-active-width);
  position: relative;
}

.ant-carousel .slick-dots li.slick-active:hover {
  opacity: 1;
}

.ant-carousel .slick-dots li.slick-active::after {
  background: var(--ant-color-bg-container);
  animation-name: ant-carousel-dot-animation;
  animation-duration: var(--dot-duration);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.ant-carousel-vertical .slick-prev,
.ant-carousel-vertical .slick-next {
  inset-inline-start: 50%;
  margin-block-start: unset;
  transform: translateX(-50%);
}

.ant-carousel-vertical .slick-prev {
  inset-block-start: var(--ant-carousel-arrow-offset);
  inset-inline-start: 50%;
}

.ant-carousel-vertical .slick-prev::after {
  transform: rotate(45deg);
}

.ant-carousel-vertical .slick-next {
  inset-block-start: auto;
  inset-block-end: var(--ant-carousel-arrow-offset);
}

.ant-carousel-vertical .slick-next::after {
  transform: rotate(-135deg);
}

.ant-carousel-vertical .slick-dots {
  top: 50%;
  bottom: auto;
  flex-direction: column;
  width: var(--ant-carousel-dot-height);
  height: auto;
  margin: 0;
  transform: translateY(-50%);
}

.ant-carousel-vertical .slick-dots-start {
  inset-inline-end: auto;
  inset-inline-start: var(--ant-carousel-dot-offset);
}

.ant-carousel-vertical .slick-dots-end {
  inset-inline-end: var(--ant-carousel-dot-offset);
  inset-inline-start: auto;
}

.ant-carousel-vertical .slick-dots li {
  width: var(--ant-carousel-dot-height);
  height: var(--ant-carousel-dot-width);
  margin: var(--ant-margin-xxs) 0;
  vertical-align: baseline;
}

.ant-carousel-vertical .slick-dots li button {
  width: var(--ant-carousel-dot-height);
  height: var(--ant-carousel-dot-width);
}

.ant-carousel-vertical .slick-dots li::after {
  width: var(--ant-carousel-dot-height);
  height: 0;
}

.ant-carousel-vertical .slick-dots li.slick-active {
  width: var(--ant-carousel-dot-height);
  height: var(--ant-carousel-dot-active-width);
}

.ant-carousel-vertical .slick-dots li.slick-active button {
  width: var(--ant-carousel-dot-height);
  height: var(--ant-carousel-dot-active-width);
}

.ant-carousel-vertical .slick-dots li.slick-active::after {
  width: var(--ant-carousel-dot-height);
  height: var(--ant-carousel-dot-width);
  animation-name: ant-carousel-dot-vertical-animation;
  animation-duration: var(--dot-duration);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.ant-carousel-rtl {
  direction: rtl;
}

.ant-carousel-rtl.ant-carousel-vertical .slick-dots {
  flex-direction: column;
}

.ant-carousel {
  --ant-carousel-arrow-size: 16px;
  --ant-carousel-arrow-offset: 8px;
  --ant-carousel-dot-width: 16px;
  --ant-carousel-dot-height: 3px;
  --ant-carousel-dot-gap: 4px;
  --ant-carousel-dot-offset: 12px;
  --ant-carousel-dot-width-active: 24px;
  --ant-carousel-dot-active-width: 24px;
}
