/* Cascader - .ant-cascader */

.ant-cascader-css-var {
  box-sizing: border-box;
}

.ant-cascader-css-var::before,
.ant-cascader-css-var::after {
  box-sizing: border-box;
}

.ant-cascader-css-var [class^="ant-cascader"],
.ant-cascader-css-var [class*=" ant-cascader"] {
  box-sizing: border-box;
}

.ant-cascader-css-var [class^="ant-cascader"]::before,
.ant-cascader-css-var [class*=" ant-cascader"]::before,
.ant-cascader-css-var [class^="ant-cascader"]::after,
.ant-cascader-css-var [class*=" ant-cascader"]::after {
  box-sizing: border-box;
}

.ant-cascader {
  width: var(--ant-cascader-control-width);
}

.ant-cascader-dropdown.ant-select-dropdown {
  padding: 0;
}

.ant-cascader-dropdown .ant-cascader-checkbox-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: var(--ant-margin-xs);
}

.ant-cascader-dropdown .ant-cascader-checkbox-group > .ant-row {
  flex: 1;
}

.ant-cascader-dropdown .ant-cascader-checkbox-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}

.ant-cascader-dropdown .ant-cascader-checkbox-wrapper:after {
  display: inline-block;
  width: 0;
  overflow: hidden;
  content: "\a0";
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-wrapper
  + .ant-cascader-checkbox-wrapper {
  margin-inline-start: 0;
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-wrapper.ant-cascader-checkbox-wrapper-in-form-item
  input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

.ant-cascader-dropdown .ant-cascader-checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: 1;
  list-style: none;
  font-family: var(--ant-font-family);
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  border-radius: var(--ant-border-radius-sm);
  align-self: center;
}

.ant-cascader-dropdown .ant-cascader-checkbox .ant-cascader-checkbox-input {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  margin: 0;
}

.ant-cascader-dropdown
  .ant-cascader-checkbox
  .ant-cascader-checkbox-input:focus-visible
  + .ant-cascader-checkbox-inner {
  outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.ant-cascader-dropdown .ant-cascader-checkbox .ant-cascader-checkbox-inner {
  box-sizing: border-box;
  display: block;
  width: var(--ant-control-interactive-size);
  height: var(--ant-control-interactive-size);
  direction: ltr;
  background-color: var(--ant-color-bg-container);
  border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
  border-radius: var(--ant-border-radius-sm);
  border-collapse: separate;
  transition: all var(--ant-motion-duration-slow);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox
  .ant-cascader-checkbox-inner:after {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  inset-inline-start: 25%;
  display: table;
  width: calc(var(--ant-control-interactive-size) / 14 * 5);
  height: calc(var(--ant-control-interactive-size) / 14 * 8);
  border: var(--ant-line-width-bold) solid var(--ant-color-white);
  border-top: 0;
  border-inline-start: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  content: "";
  transition:
    all var(--ant-motion-duration-fast) var(--ant-motion-ease-in-back),
    opacity var(--ant-motion-duration-fast);
}

.ant-cascader-dropdown .ant-cascader-checkbox + span {
  padding-inline-start: var(--ant-padding-xs);
  padding-inline-end: var(--ant-padding-xs);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-wrapper:not(
    .ant-cascader-checkbox-wrapper-disabled
  ):hover
  .ant-cascader-checkbox-inner,
.ant-cascader-dropdown
  .ant-cascader-checkbox:not(.ant-cascader-checkbox-disabled):hover
  .ant-cascader-checkbox-inner {
  border-color: var(--ant-color-primary);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-wrapper:not(
    .ant-cascader-checkbox-wrapper-disabled
  ):hover
  .ant-cascader-checkbox-checked:not(.ant-cascader-checkbox-disabled)
  .ant-cascader-checkbox-inner {
  background-color: var(--ant-color-primary-hover);
  border-color: transparent;
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-wrapper:not(
    .ant-cascader-checkbox-wrapper-disabled
  ):hover
  .ant-cascader-checkbox-checked:not(.ant-cascader-checkbox-disabled):after {
  border-color: var(--ant-color-primary-hover);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-checked
  .ant-cascader-checkbox-inner {
  background-color: var(--ant-color-primary);
  border-color: var(--ant-color-primary);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-checked
  .ant-cascader-checkbox-inner:after {
  opacity: 1;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  transition: all var(--ant-motion-duration-mid) var(--ant-motion-ease-out-back)
    var(--ant-motion-duration-fast);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-wrapper-checked:not(
    .ant-cascader-checkbox-wrapper-disabled
  ):hover
  .ant-cascader-checkbox-inner,
.ant-cascader-dropdown
  .ant-cascader-checkbox-checked:not(.ant-cascader-checkbox-disabled):hover
  .ant-cascader-checkbox-inner {
  background-color: var(--ant-color-primary-hover);
  border-color: transparent;
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-indeterminate
  .ant-cascader-checkbox-inner {
  background-color: var(--ant-color-bg-container);
  border-color: var(--ant-color-border);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-indeterminate
  .ant-cascader-checkbox-inner:after {
  top: 50%;
  inset-inline-start: 50%;
  width: calc(var(--ant-font-size-lg) / 2);
  height: calc(var(--ant-font-size-lg) / 2);
  background-color: var(--ant-color-primary);
  border: 0;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: "";
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-indeterminate:hover
  .ant-cascader-checkbox-inner {
  background-color: var(--ant-color-bg-container);
  border-color: var(--ant-color-primary);
}

.ant-cascader-dropdown .ant-cascader-checkbox-wrapper-disabled {
  cursor: not-allowed;
}

.ant-cascader-dropdown .ant-cascader-checkbox-disabled,
.ant-cascader-dropdown
  .ant-cascader-checkbox-disabled
  .ant-cascader-checkbox-input {
  cursor: not-allowed;
  pointer-events: none;
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-disabled
  .ant-cascader-checkbox-inner {
  background: var(--ant-color-bg-container-disabled);
  border-color: var(--ant-color-border);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-disabled
  .ant-cascader-checkbox-inner:after {
  border-color: var(--ant-color-text-disabled);
}

.ant-cascader-dropdown .ant-cascader-checkbox-disabled:after {
  display: none;
}

.ant-cascader-dropdown .ant-cascader-checkbox-disabled + span {
  color: var(--ant-color-text-disabled);
}

.ant-cascader-dropdown
  .ant-cascader-checkbox-disabled.ant-cascader-checkbox-indeterminate
  .ant-cascader-checkbox-inner::after {
  background: var(--ant-color-text-disabled);
}

.ant-cascader-dropdown .ant-cascader-checkbox {
  top: 0;
  margin-inline-end: var(--ant-padding-xs);
  pointer-events: unset;
}

.ant-cascader-dropdown .ant-cascader-menus {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.ant-cascader-dropdown
  .ant-cascader-menus.ant-cascader-menu-empty
  .ant-cascader-menu {
  width: 100%;
  height: auto;
}

.ant-cascader-dropdown
  .ant-cascader-menus.ant-cascader-menu-empty
  .ant-cascader-menu
  .ant-cascader-menu-item {
  color: var(--ant-color-text-disabled);
}

.ant-cascader-dropdown .ant-cascader-menu {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: var(--ant-cascader-control-item-width);
  height: var(--ant-cascader-dropdown-height);
  margin: 0;
  padding: var(--ant-cascader-menu-padding);
  overflow: auto;
  vertical-align: top;
  list-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.ant-cascader-dropdown .ant-cascader-menu:not(:last-child) {
  border-inline-end: var(--ant-line-width) var(--ant-line-type)
    var(--ant-color-split);
}

.ant-cascader-dropdown .ant-cascader-menu-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: var(--ant-cascader-option-padding);
  line-height: var(--ant-line-height);
  cursor: pointer;
  transition: all var(--ant-motion-duration-mid);
  border-radius: var(--ant-border-radius-sm);
}

.ant-cascader-dropdown .ant-cascader-menu-item:hover {
  background: var(--ant-control-item-bg-hover);
}

.ant-cascader-dropdown .ant-cascader-menu-item-disabled {
  color: var(--ant-color-text-disabled);
  cursor: not-allowed;
}

.ant-cascader-dropdown .ant-cascader-menu-item-disabled:hover {
  background: transparent;
}

.ant-cascader-dropdown
  .ant-cascader-menu-item-disabled.ant-cascader-menu-item-expand
  .ant-cascader-menu-item-expand-icon,
.ant-cascader-dropdown
  .ant-cascader-menu-item-disabled
  .ant-cascader-menu-item-loading-icon {
  color: var(--ant-color-text-disabled);
}

.ant-cascader-dropdown
  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-dropdown
  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  color: var(--ant-cascader-option-selected-color);
  font-weight: var(--ant-cascader-option-selected-font-weight);
  background-color: var(--ant-cascader-option-selected-bg);
}

.ant-cascader-dropdown .ant-cascader-menu-item-content {
  flex: auto;
}

.ant-cascader-dropdown
  .ant-cascader-menu-item.ant-cascader-menu-item-expand
  .ant-cascader-menu-item-expand-icon,
.ant-cascader-dropdown
  .ant-cascader-menu-item
  .ant-cascader-menu-item-loading-icon {
  margin-inline-start: var(--ant-padding-xxs);
  color: var(--ant-color-icon);
  font-size: var(--ant-font-size-icon);
}

.ant-cascader-dropdown .ant-cascader-menu-item-keyword {
  color: var(--ant-color-highlight);
}

.ant-cascader-dropdown-rtl {
  direction: rtl;
}

.ant-cascader-compact-item:not(.ant-cascader-compact-last-item) {
  margin-inline-end: calc(var(--ant-line-width) * -1);
}

.ant-cascader-compact-item:not(.ant-cascader-status-success) {
  z-index: 2;
}

.ant-cascader-compact-item:hover,
.ant-cascader-compact-item:focus,
.ant-cascader-compact-item:active {
  z-index: 3;
}

.ant-cascader-compact-item[disabled] {
  z-index: 0;
}

.ant-cascader-compact-item:not(.ant-cascader-compact-first-item):not(
    .ant-cascader-compact-last-item
  ) {
  border-radius: 0;
}

.ant-cascader-compact-item:not(
    .ant-cascader-compact-last-item
  ).ant-cascader-compact-first-item,
.ant-cascader-compact-item:not(
    .ant-cascader-compact-last-item
  ).ant-cascader-compact-first-item.ant-cascader-sm,
.ant-cascader-compact-item:not(
    .ant-cascader-compact-last-item
  ).ant-cascader-compact-first-item.ant-cascader-lg {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.ant-cascader-compact-item:not(
    .ant-cascader-compact-first-item
  ).ant-cascader-compact-last-item,
.ant-cascader-compact-item:not(
    .ant-cascader-compact-first-item
  ).ant-cascader-compact-last-item.ant-cascader-sm,
.ant-cascader-compact-item:not(
    .ant-cascader-compact-first-item
  ).ant-cascader-compact-last-item.ant-cascader-lg {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.ant-cascader-css-var {
  --ant-cascader-control-width: 184px;
  --ant-cascader-control-item-width: 111px;
  --ant-cascader-dropdown-height: 180px;
  --ant-cascader-option-selected-bg: #e6f4ff;
  --ant-cascader-option-selected-font-weight: 600;
  --ant-cascader-option-padding: 5px 12px;
  --ant-cascader-menu-padding: 4px;
  --ant-cascader-option-selected-color: rgba(0, 0, 0, 0.88);
}

.ant-input-group .ant-input-group-addon .ant-cascader-picker {
  margin: -9px calc(var(--ant-input-padding-inline) * -1);
  background-color: transparent;
}

.ant-input-group
  .ant-input-group-addon
  .ant-cascader-picker
  .ant-cascader-input {
  text-align: start;
  border: 0;
  box-shadow: none;
}

.ant-input-group.ant-input-group-compact > .ant-select,
.ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input,
.ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input {
  border-inline-end-width: var(--ant-line-width);
  border-radius: 0;
}

.ant-input-group.ant-input-group-compact > .ant-select:hover,
.ant-input-group.ant-input-group-compact
  > .ant-select-auto-complete
  .ant-input:hover,
.ant-input-group.ant-input-group-compact
  > .ant-cascader-picker
  .ant-input:hover,
.ant-input-group.ant-input-group-compact
  > .ant-input-group-wrapper
  .ant-input:hover,
.ant-input-group.ant-input-group-compact > .ant-select:focus,
.ant-input-group.ant-input-group-compact
  > .ant-select-auto-complete
  .ant-input:focus,
.ant-input-group.ant-input-group-compact
  > .ant-cascader-picker
  .ant-input:focus,
.ant-input-group.ant-input-group-compact
  > .ant-input-group-wrapper
  .ant-input:focus {
  z-index: 1;
}

.ant-input-group.ant-input-group-compact > *:first-child,
.ant-input-group.ant-input-group-compact > .ant-select:first-child,
.ant-input-group.ant-input-group-compact
  > .ant-select-auto-complete:first-child
  .ant-input,
.ant-input-group.ant-input-group-compact
  > .ant-cascader-picker:first-child
  .ant-input {
  border-start-start-radius: var(--ant-border-radius);
  border-end-start-radius: var(--ant-border-radius);
}

.ant-input-group.ant-input-group-compact > *:last-child,
.ant-input-group.ant-input-group-compact > .ant-select:last-child,
.ant-input-group.ant-input-group-compact
  > .ant-cascader-picker:last-child
  .ant-input,
.ant-input-group.ant-input-group-compact
  > .ant-cascader-picker-focused:last-child
  .ant-input {
  border-inline-end-width: var(--ant-line-width);
  border-start-end-radius: var(--ant-border-radius);
  border-end-end-radius: var(--ant-border-radius);
}
