/* Collapse - .ant-collapse */

.ant-collapse {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-collapse::before,
.ant-collapse::after {
  box-sizing: border-box;
}

.ant-collapse [class^="ant-collapse"],
.ant-collapse [class*=" ant-collapse"] {
  box-sizing: border-box;
}

.ant-collapse [class^="ant-collapse"]::before,
.ant-collapse [class*=" ant-collapse"]::before,
.ant-collapse [class^="ant-collapse"]::after,
.ant-collapse [class*=" ant-collapse"]::after {
  box-sizing: border-box;
}

.ant-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  background-color: var(--ant-collapse-header-bg);
  border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
  border-radius: var(--ant-border-radius-lg);
}

.ant-collapse-rtl {
  direction: rtl;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: var(--ant-line-width) var(--ant-line-type)
    var(--ant-color-border);
}

.ant-collapse > .ant-collapse-item:first-child,
.ant-collapse > .ant-collapse-item:first-child > .ant-collapse-header {
  border-radius: var(--ant-border-radius-lg) var(--ant-border-radius-lg) 0 0;
}

.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0 0 var(--ant-border-radius-lg) var(--ant-border-radius-lg);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: var(--ant-collapse-header-padding);
  color: var(--ant-color-text-heading);
  line-height: var(--ant-line-height);
  cursor: pointer;
  transition:
    all var(--ant-motion-duration-slow),
    visibility 0s;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus-visible {
  outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  > .ant-collapse-title {
  flex: auto;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  height: var(--ant-font-height);
  display: flex;
  align-items: center;
  margin-inline-end: var(--ant-margin-sm);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--ant-font-size-icon);
  transition: transform var(--ant-motion-duration-slow);
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  > * {
  line-height: 1;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  svg {
  transition: transform var(--ant-motion-duration-slow);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-title {
  margin-inline-end: auto;
}

.ant-collapse > .ant-collapse-item .ant-collapse-collapsible-header {
  cursor: default;
}

.ant-collapse
  > .ant-collapse-item
  .ant-collapse-collapsible-header
  .ant-collapse-title {
  flex: none;
  cursor: pointer;
}

.ant-collapse
  > .ant-collapse-item
  .ant-collapse-collapsible-header
  .ant-collapse-expand-icon {
  cursor: pointer;
}

.ant-collapse > .ant-collapse-item .ant-collapse-collapsible-icon {
  cursor: unset;
}

.ant-collapse
  > .ant-collapse-item
  .ant-collapse-collapsible-icon
  .ant-collapse-expand-icon {
  cursor: pointer;
}

.ant-collapse .ant-collapse-panel {
  color: var(--ant-color-text);
  background-color: var(--ant-collapse-content-bg);
  border-top: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
}

.ant-collapse .ant-collapse-panel > .ant-collapse-body {
  padding: var(--ant-collapse-content-padding);
}

.ant-collapse .ant-collapse-panel-hidden {
  display: none;
}

.ant-collapse-small > .ant-collapse-item > .ant-collapse-header {
  padding: var(--ant-padding-xs) var(--ant-padding-sm);
  padding-inline-start: var(--ant-padding-xs);
}

.ant-collapse-small
  > .ant-collapse-item
  > .ant-collapse-header
  > .ant-collapse-expand-icon {
  margin-inline-start: calc(var(--ant-padding-sm) - var(--ant-padding-xs));
}

.ant-collapse-small
  > .ant-collapse-item
  > .ant-collapse-panel
  > .ant-collapse-body {
  padding: var(--ant-padding-sm);
}

.ant-collapse-large > .ant-collapse-item {
  font-size: var(--ant-font-size-lg);
  line-height: var(--ant-line-height-lg);
}

.ant-collapse-large > .ant-collapse-item > .ant-collapse-header {
  padding: var(--ant-padding) var(--ant-padding-lg);
  padding-inline-start: var(--ant-padding);
}

.ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-header
  > .ant-collapse-expand-icon {
  height: var(--ant-font-height-lg);
  margin-inline-start: calc(var(--ant-padding-lg) - var(--ant-padding));
}

.ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-panel
  > .ant-collapse-body {
  padding: var(--ant-padding-lg);
}

.ant-collapse .ant-collapse-item:last-child {
  border-bottom: 0;
}

.ant-collapse .ant-collapse-item:last-child > .ant-collapse-panel {
  border-radius: 0 0 var(--ant-border-radius-lg) var(--ant-border-radius-lg);
}

.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
  color: var(--ant-color-text-disabled);
  cursor: not-allowed;
}

.ant-collapse.ant-collapse-icon-placement-end
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  order: 1;
  margin-inline-end: 0;
  margin-inline-start: var(--ant-margin-sm);
}

.ant-collapse-borderless {
  background-color: var(--ant-collapse-header-bg);
  border: 0;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid var(--ant-color-border);
}

.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 0;
}

.ant-collapse-borderless > .ant-collapse-item:last-child {
  border-bottom: 0;
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-panel {
  background-color: var(--ant-collapse-borderless-content-bg);
  border-top: 0;
}

.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-panel
  > .ant-collapse-body {
  padding: var(--ant-collapse-borderless-content-padding);
}

.ant-collapse-ghost {
  background-color: transparent;
  border: 0;
}

.ant-collapse-ghost > .ant-collapse-item {
  border-bottom: 0;
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-panel {
  background-color: transparent;
  border: 0;
}

.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-panel
  > .ant-collapse-body {
  padding-block: var(--ant-padding-sm);
}

.ant-collapse-rtl
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  transform: rotate(180deg);
}

.ant-collapse .ant-motion-collapse-legacy {
  overflow: hidden;
}

.ant-collapse .ant-motion-collapse-legacy-active {
  transition:
    height var(--ant-motion-duration-mid) var(--ant-motion-ease-in-out),
    opacity var(--ant-motion-duration-mid) var(--ant-motion-ease-in-out) !important;
}

.ant-collapse .ant-motion-collapse {
  overflow: hidden;
  transition:
    height var(--ant-motion-duration-mid) var(--ant-motion-ease-in-out),
    opacity var(--ant-motion-duration-mid) var(--ant-motion-ease-in-out) !important;
}

.ant-collapse {
  --ant-collapse-header-padding: 12px 16px;
  --ant-collapse-header-bg: rgba(0, 0, 0, 0.02);
  --ant-collapse-content-padding: 16px 16px;
  --ant-collapse-content-bg: #ffffff;
  --ant-collapse-borderless-content-padding: 4px 16px 16px;
  --ant-collapse-borderless-content-bg: transparent;
}

.ant-color-picker
  .ant-color-picker-inner
  .ant-color-picker-presets
  .ant-collapse-item
  > .ant-collapse-header {
  padding: 0;
}

.ant-color-picker
  .ant-color-picker-inner
  .ant-color-picker-presets
  .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  height: var(--ant-font-height-sm);
  color: var(--ant-color-text-quaternary);
  padding-inline-end: var(--ant-padding-xxs);
}

.ant-color-picker
  .ant-color-picker-inner
  .ant-color-picker-presets
  .ant-collapse {
  display: flex;
  flex-direction: column;
  gap: var(--ant-margin-xxs);
}

.ant-color-picker
  .ant-color-picker-inner
  .ant-color-picker-presets
  .ant-collapse-item
  > .ant-collapse-panel
  > .ant-collapse-body {
  padding: var(--ant-padding-xs) 0;
}
