/* Divider - .ant-divider */

.ant-color-picker .ant-color-picker-inner-content > .ant-divider {
  margin: var(--ant-margin-sm) 0 var(--ant-margin-xs);
}

.ant-divider {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-divider::before,
.ant-divider::after {
  box-sizing: border-box;
}

.ant-divider [class^="ant-divider"],
.ant-divider [class*=" ant-divider"] {
  box-sizing: border-box;
}

.ant-divider [class^="ant-divider"]::before,
.ant-divider [class*=" ant-divider"]::before,
.ant-divider [class^="ant-divider"]::after,
.ant-divider [class*=" ant-divider"]::after {
  box-sizing: border-box;
}

.ant-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  border-block-start: var(--ant-line-width) solid var(--ant-color-split);
}

.ant-divider .ant-divider-rail {
  border-block-start: var(--ant-line-width) solid var(--ant-color-split);
}

.ant-divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin-inline: var(--ant-divider-vertical-margin-inline);
  margin-block: 0;
  vertical-align: middle;
  border-top: 0;
  border-inline-start: var(--ant-line-width) solid var(--ant-color-split);
}

.ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: var(--ant-margin-lg) 0;
}

.ant-divider-horizontal.ant-divider-with-text {
  display: flex;
  align-items: center;
  margin: var(--ant-margin) 0;
  color: var(--ant-color-text-heading);
  font-weight: 500;
  font-size: var(--ant-font-size-lg);
  white-space: nowrap;
  text-align: center;
  border-block-start: 0 var(--ant-color-split);
}

.ant-divider-horizontal.ant-divider-with-text .ant-divider-rail-start,
.ant-divider-horizontal.ant-divider-with-text .ant-divider-rail-end {
  width: 50%;
  border-block-start-color: inherit;
  border-block-end: 0;
  content: "";
}

.ant-divider-horizontal.ant-divider-with-text-start .ant-divider-rail-start {
  width: calc(var(--ant-divider-orientation-margin) * 100%);
}

.ant-divider-horizontal.ant-divider-with-text-start .ant-divider-rail-end {
  width: calc(100% - var(--ant-divider-orientation-margin) * 100%);
}

.ant-divider-horizontal.ant-divider-with-text-end .ant-divider-rail-start {
  width: calc(100% - var(--ant-divider-orientation-margin) * 100%);
}

.ant-divider-horizontal.ant-divider-with-text-end .ant-divider-rail-end {
  width: calc(var(--ant-divider-orientation-margin) * 100%);
}

.ant-divider .ant-divider-inner-text {
  display: inline-block;
  padding-block: 0;
  padding-inline: var(--ant-divider-text-padding-inline);
}

.ant-divider-dashed {
  background: none;
  border-color: var(--ant-color-split);
  border-style: dashed;
  border-width: var(--ant-line-width) 0 0;
}

.ant-divider-dashed .ant-divider-rail {
  border-block-start: var(--ant-line-width) dashed var(--ant-color-split);
}

.ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed
  .ant-divider-rail-start,
.ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed
  .ant-divider-rail-end {
  border-style: dashed none none;
}

.ant-divider-vertical.ant-divider-dashed {
  border-inline-start-width: var(--ant-line-width);
  border-inline-end: 0;
  border-block-start: 0;
  border-block-end: 0;
}

.ant-divider-dotted {
  background: none;
  border-color: var(--ant-color-split);
  border-style: dotted;
  border-width: var(--ant-line-width) 0 0;
}

.ant-divider-dotted .ant-divider-rail {
  border-block-start: var(--ant-line-width) dotted var(--ant-color-split);
}

.ant-divider-horizontal.ant-divider-with-text.ant-divider-dotted::before,
.ant-divider-horizontal.ant-divider-with-text.ant-divider-dotted::after {
  border-style: dotted none none;
}

.ant-divider-vertical.ant-divider-dotted {
  border-inline-start-width: var(--ant-line-width);
  border-inline-end: 0;
  border-block-start: 0;
  border-block-end: 0;
}

.ant-divider-plain.ant-divider-with-text {
  color: var(--ant-color-text);
  font-weight: normal;
  font-size: var(--ant-font-size);
}

.ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start
  .ant-divider-rail-start {
  width: 0;
}

.ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start
  .ant-divider-rail-end {
  width: 100%;
}

.ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start
  .ant-divider-inner-text {
  padding-inline-start: 0;
}

.ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end
  .ant-divider-rail-start {
  width: 100%;
}

.ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end
  .ant-divider-rail-end {
  width: 0;
}

.ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end
  .ant-divider-inner-text {
  padding-inline-end: 0;
}

.ant-divider-horizontal.ant-divider-sm {
  margin-block: var(--ant-margin-xs);
}

.ant-divider-horizontal.ant-divider-md {
  margin-block: var(--ant-margin);
}

.ant-divider {
  --ant-divider-text-padding-inline: 1em;
  --ant-divider-orientation-margin: 0.05;
  --ant-divider-vertical-margin-inline: 8px;
}
