/* FloatButton - .ant-float-btn */

.ant-float-btn-css-var {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-float-btn-css-var::before,
.ant-float-btn-css-var::after {
  box-sizing: border-box;
}

.ant-float-btn-css-var [class^="ant-float-btn"],
.ant-float-btn-css-var [class*=" ant-float-btn"] {
  box-sizing: border-box;
}

.ant-float-btn-css-var [class^="ant-float-btn"]::before,
.ant-float-btn-css-var [class*=" ant-float-btn"]::before,
.ant-float-btn-css-var [class^="ant-float-btn"]::after,
.ant-float-btn-css-var [class*=" ant-float-btn"]::after {
  box-sizing: border-box;
}

.ant-float-btn {
  --ant-float-btn-size: var(--ant-control-height-lg);
  flex-direction: column;
  margin: 0;
  padding: var(--ant-padding-xxs) 0;
  width: var(--ant-float-btn-size);
  min-height: var(--ant-float-btn-size);
  height: auto;
  word-break: break-word;
  white-space: normal;
  gap: calc(var(--ant-padding-xxs) / 2);
}

.ant-float-btn-rtl {
  direction: rtl;
}

.ant-float-btn.ant-float-btn-individual {
  position: fixed;
  z-index: var(--ant-z-index-popup-base);
  inset-inline-end: var(--ant-margin-lg);
  bottom: var(--ant-margin-xxl);
  box-shadow: var(--ant-box-shadow-secondary);
}

.ant-float-btn.ant-float-btn-pure {
  position: relative;
  inset: auto;
}

.ant-float-btn:empty {
  display: none;
}

.ant-float-btn .ant-float-btn-icon {
  line-height: 1;
}

.ant-float-btn.ant-float-btn-icon-only .anticon {
  font-size: calc(var(--ant-font-size-icon) * 1.5);
}

.ant-float-btn .ant-float-btn-content {
  font-size: var(--ant-font-size-sm);
}

.ant-float-btn .ant-float-btn-badge {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
}

.ant-float-btn .ant-float-btn-badge:not(.ant-float-btn-badge-dot) {
  transform: translate(50%, -50%);
}

.ant-float-btn-rtl .ant-float-btn-badge:not(.ant-float-btn-badge-dot) {
  transform: translate(-50%, -50%);
}

.ant-float-btn-square .ant-float-btn-badge-dot {
  margin-top: calc(var(--ant-border-radius) * 0.29289321881345254);
  margin-inline-end: calc(var(--ant-border-radius) * 0.29289321881345254);
}

.ant-float-btn-circle .ant-float-btn-badge {
  margin-top: calc(var(--ant-control-height) / 2 * 0.29289321881345254);
  margin-inline-end: calc(var(--ant-control-height) / 2 * 0.29289321881345254);
}

.ant-float-btn-group {
  --ant-float-btn-list-transform-start: translate(
    0,
    var(--ant-control-height-lg)
  );
  --ant-float-btn-list-trigger-offset: calc(
    var(--ant-control-height-lg) +
    var(--ant-padding)
  );
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  position: fixed;
  z-index: var(--ant-z-index-popup-base);
  inset-inline-end: var(--ant-margin-lg);
  bottom: var(--ant-margin-xxl);
  gap: var(--ant-padding);
}

.ant-float-btn-group-rtl {
  direction: rtl;
}

.ant-float-btn-group.ant-float-btn-pure {
  position: relative;
  inset: auto;
}

.ant-float-btn-group .ant-float-btn {
  position: relative;
  inset: auto;
}

.ant-float-btn-group:not(.ant-float-btn-group-individual)
  .ant-float-btn-group-list {
  box-shadow: var(--ant-box-shadow-secondary);
}

.ant-float-btn-group.ant-float-btn-group-individual .ant-float-btn-group-list {
  gap: var(--ant-padding);
}

.ant-float-btn-group-menu-mode .ant-float-btn-group-list {
  position: absolute;
}

.ant-float-btn-group .ant-float-btn-group-list {
  border-radius: var(--ant-border-radius-lg);
}

.ant-float-btn-group .ant-float-btn-group-list-motion {
  transition: all var(--ant-motion-duration-slow);
}

.ant-float-btn-group .ant-float-btn-group-list-motion-enter,
.ant-float-btn-group .ant-float-btn-group-list-motion-appear {
  opacity: 0;
  transform: var(--ant-float-btn-list-transform-start);
}

.ant-float-btn-group .ant-float-btn-group-list-motion-enter-active,
.ant-float-btn-group .ant-float-btn-group-list-motion-appear-active {
  opacity: 1;
  transform: translate(0, 0);
}

.ant-float-btn-group .ant-float-btn-group-list-motion-leave-active {
  opacity: 0;
  transform: var(--ant-float-btn-list-transform-start);
}

.ant-float-btn-group-top .ant-float-btn-group-list {
  bottom: var(--ant-float-btn-list-trigger-offset);
}

.ant-float-btn-group-bottom .ant-float-btn-group-list {
  --ant-float-btn-list-transform-start: translate(
    0,
    calc(var(--ant-control-height-lg) * -1)
  );
  top: var(--ant-float-btn-list-trigger-offset);
}

.ant-float-btn-group-left .ant-float-btn-group-list {
  --ant-float-btn-list-transform-start: translate(
    var(--ant-control-height-lg),
    0
  );
  right: var(--ant-float-btn-list-trigger-offset);
}

.ant-float-btn-group-right .ant-float-btn-group-list {
  --ant-float-btn-list-transform-start: translate(
    calc(var(--ant-control-height-lg) * -1),
    0
  );
  left: var(--ant-float-btn-list-trigger-offset);
}
