/* Progress - .ant-progress */

.ant-progress {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-progress::before,
.ant-progress::after {
  box-sizing: border-box;
}

.ant-progress [class^="ant-progress"],
.ant-progress [class*=" ant-progress"] {
  box-sizing: border-box;
}

.ant-progress [class^="ant-progress"]::before,
.ant-progress [class*=" ant-progress"]::before,
.ant-progress [class^="ant-progress"]::after,
.ant-progress [class*=" ant-progress"]::after {
  box-sizing: border-box;
}

.ant-progress {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  display: inline-flex;
}

.ant-progress-rtl {
  direction: rtl;
}

.ant-progress .ant-progress-indicator {
  color: var(--ant-color-text);
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  word-break: normal;
}

.ant-progress .ant-progress-indicator .anticon {
  font-size: var(--ant-font-size);
}

.ant-progress.ant-progress-status-exception .ant-progress-indicator {
  color: var(--ant-color-error);
}

.ant-progress.ant-progress-status-success .ant-progress-indicator {
  color: var(--ant-color-success);
}

.ant-progress-line {
  position: relative;
  width: 100%;
  font-size: var(--ant-font-size);
}

.ant-progress-line .ant-progress-body {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: var(--ant-margin-xs);
}

.ant-progress-line .ant-progress-rail {
  flex: auto;
  background: var(--ant-progress-remaining-color);
  border-radius: var(--ant-progress-line-border-radius);
  position: relative;
  width: 100%;
}

.ant-progress-line.ant-progress-status-active .ant-progress-track:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ant-color-bg-container);
  border-radius: inherit;
  opacity: 0;
  animation-name: antProgressLTRActive;
  animation-duration: 2.4s;
  animation-timing-function: var(--ant-motion-ease-out-quint);
  animation-iteration-count: infinite;
}

.ant-progress-line .ant-progress-track {
  position: absolute;
  inset-inline-start: 0;
  inset-block: 0;
  border-radius: inherit;
  background: var(--ant-progress-default-color);
  transition: all var(--ant-motion-duration-slow)
    var(--ant-motion-ease-in-out-circ);
  min-width: max-content;
  display: flex;
  align-items: center;
}

.ant-progress-line .ant-progress-track-success {
  background: var(--ant-color-success);
}

.ant-progress-line.ant-progress-status-exception .ant-progress-track {
  background: var(--ant-color-error);
}

.ant-progress-line.ant-progress-status-success .ant-progress-track {
  background: var(--ant-color-success);
}

.ant-progress-line .ant-progress-indicator-outer.ant-progress-indicator-start {
  order: -1;
}

.ant-progress-line .ant-progress-body-layout-bottom {
  flex-direction: column;
  align-items: center;
  gap: var(--ant-margin-xxs);
}

.ant-progress-line .ant-progress-indicator.ant-progress-indicator-inner {
  color: var(--ant-color-white);
  padding-inline: var(--ant-padding-xxs);
  width: 100%;
  display: flex;
  justify-content: center;
}

.ant-progress-line
  .ant-progress-indicator.ant-progress-indicator-inner.ant-progress-indicator-end {
  justify-content: end;
}

.ant-progress-line
  .ant-progress-indicator.ant-progress-indicator-inner.ant-progress-indicator-start {
  justify-content: start;
}

.ant-progress-line
  .ant-progress-indicator.ant-progress-indicator-inner.ant-progress-indicator-bright {
  color: rgba(0, 0, 0, 0.45);
}

.ant-progress-circle .ant-progress-circle-rail {
  stroke: var(--ant-progress-remaining-color);
}

.ant-progress-circle
  .ant-progress-body:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: var(--ant-progress-default-color);
}

.ant-progress-circle .ant-progress-body {
  position: relative;
  line-height: 1;
  background-color: transparent;
}

.ant-progress-circle .ant-progress-indicator {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--ant-progress-circle-text-color);
  font-size: var(--ant-progress-circle-text-font-size);
  line-height: 1;
  white-space: normal;
  text-align: center;
  transform: translateY(-50%);
}

.ant-progress-circle .ant-progress-indicator .anticon {
  font-size: var(--ant-progress-circle-icon-font-size);
}

.ant-progress-circle.ant-progress-status-exception
  .ant-progress-body:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: var(--ant-color-error);
}

.ant-progress-circle.ant-progress-status-success
  .ant-progress-body:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: var(--ant-color-success);
}

.ant-progress-inline-circle {
  line-height: 1;
}

.ant-progress-inline-circle .ant-progress-inner {
  vertical-align: bottom;
}

.ant-progress .ant-progress-steps {
  display: inline-block;
}

.ant-progress .ant-progress-steps-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--ant-margin-xxs) / 2);
}

.ant-progress .ant-progress-steps-body .ant-progress-indicator {
  margin-inline-start: var(--ant-margin-xs);
}

.ant-progress .ant-progress-steps-item {
  flex-shrink: 0;
  min-width: calc(var(--ant-margin-xxs) / 2);
  background-color: var(--ant-progress-remaining-color);
  transition: all var(--ant-motion-duration-slow);
}

.ant-progress .ant-progress-steps-item-active {
  background-color: var(--ant-progress-default-color);
}

.ant-progress-small.ant-progress-line,
.ant-progress-small.ant-progress-line .ant-progress-indicator .anticon {
  font-size: var(--ant-font-size-sm);
}

.ant-progress {
  --ant-progress-circle-text-color: rgba(0, 0, 0, 0.88);
  --ant-progress-default-color: #1677ff;
  --ant-progress-remaining-color: rgba(0, 0, 0, 0.06);
  --ant-progress-line-border-radius: 100px;
  --ant-progress-circle-text-font-size: 1em;
  --ant-progress-circle-icon-font-size: 1.1666666666666667em;
}

.ant-steps-with-progress11 .ant-steps-item-icon .ant-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ant-steps-with-progress11 .ant-steps-item-icon .ant-progress-body {
  width: calc(
    var(--ant-steps-icon-size) +
    calc(var(--ant-line-width-bold) * 4)
  ) !important;
  height: calc(
    var(--ant-steps-icon-size) +
    calc(var(--ant-line-width-bold) * 4)
  ) !important;
}

.ant-steps-with-progress11.ant-steps-small
  .ant-steps-item-icon
  .ant-progress-body {
  width: calc(
    var(--ant-steps-icon-size-sm) +
    calc(var(--ant-line-width) * 4)
  ) !important;
  height: calc(
    var(--ant-steps-icon-size-sm) +
    calc(var(--ant-line-width) * 4)
  ) !important;
}
