/* Result - .ant-result */

.ant-result {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-result::before,
.ant-result::after {
  box-sizing: border-box;
}

.ant-result [class^="ant-result"],
.ant-result [class*=" ant-result"] {
  box-sizing: border-box;
}

.ant-result [class^="ant-result"]::before,
.ant-result [class*=" ant-result"]::before,
.ant-result [class^="ant-result"]::after,
.ant-result [class*=" ant-result"]::after {
  box-sizing: border-box;
}

.ant-result {
  padding: calc(var(--ant-padding-lg) * 2) var(--ant-padding-xl);
}

.ant-result-rtl {
  direction: rtl;
}

.ant-result .ant-result-image {
  width: 250px;
  height: 295px;
  margin: auto;
}

.ant-result .ant-result-icon {
  margin-bottom: var(--ant-padding-lg);
  text-align: center;
}

.ant-result .ant-result-icon > .anticon {
  font-size: var(--ant-result-icon-font-size);
}

.ant-result .ant-result-title {
  color: var(--ant-color-text-heading);
  font-size: var(--ant-result-title-font-size);
  line-height: var(--ant-line-height-heading-3);
  margin-block: var(--ant-margin-xs);
  text-align: center;
}

.ant-result .ant-result-subtitle {
  color: var(--ant-color-text-description);
  font-size: var(--ant-result-subtitle-font-size);
  line-height: var(--ant-line-height);
  text-align: center;
}

.ant-result .ant-result-body {
  margin-top: var(--ant-padding-lg);
  padding: var(--ant-padding-lg) calc(var(--ant-padding) * 2.5);
  background-color: var(--ant-color-fill-alter);
}

.ant-result .ant-result-extra {
  margin: var(--ant-result-extra-margin);
  text-align: center;
}

.ant-result .ant-result-extra > * {
  margin-inline-end: var(--ant-padding-xs);
}

.ant-result .ant-result-extra > *:last-child {
  margin-inline-end: 0;
}

.ant-result-success .ant-result-icon > .anticon {
  color: var(--ant-color-success);
}

.ant-result-error .ant-result-icon > .anticon {
  color: var(--ant-color-error);
}

.ant-result-info .ant-result-icon > .anticon {
  color: var(--ant-color-info);
}

.ant-result-warning .ant-result-icon > .anticon {
  color: var(--ant-color-warning);
}

.ant-result {
  --ant-result-title-font-size: 24px;
  --ant-result-subtitle-font-size: 14px;
  --ant-result-icon-font-size: 72px;
  --ant-result-extra-margin: 24px 0 0 0;
}
