/* Segmented - .ant-segmented */

.ant-segmented {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-segmented::before,
.ant-segmented::after {
  box-sizing: border-box;
}

.ant-segmented [class^="ant-segmented"],
.ant-segmented [class*=" ant-segmented"] {
  box-sizing: border-box;
}

.ant-segmented [class^="ant-segmented"]::before,
.ant-segmented [class*=" ant-segmented"]::before,
.ant-segmented [class^="ant-segmented"]::after,
.ant-segmented [class*=" ant-segmented"]::after {
  box-sizing: border-box;
}

.ant-segmented {
  box-sizing: border-box;
  margin: 0;
  padding: var(--ant-segmented-track-padding);
  color: var(--ant-segmented-item-color);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  display: inline-block;
  background: var(--ant-segmented-track-bg);
  border-radius: var(--ant-border-radius);
  transition: all var(--ant-motion-duration-mid);
}

.ant-segmented:focus-visible {
  outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.ant-segmented .ant-segmented-group {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.ant-segmented.ant-segmented-rtl {
  direction: rtl;
}

.ant-segmented.ant-segmented-vertical .ant-segmented-group {
  flex-direction: column;
}

.ant-segmented.ant-segmented-vertical .ant-segmented-thumb {
  width: 100%;
  height: 0;
  padding: 0 var(--ant-padding-xxs);
}

.ant-segmented.ant-segmented-block {
  display: flex;
}

.ant-segmented.ant-segmented-block .ant-segmented-item {
  flex: 1;
  min-width: 0;
}

.ant-segmented .ant-segmented-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: color var(--ant-motion-duration-mid);
  border-radius: var(--ant-border-radius-sm);
  transform: translateZ(0);
}

.ant-segmented .ant-segmented-item-selected {
  background: var(--ant-segmented-item-selected-bg);
  box-shadow: var(--ant-box-shadow-tertiary);
  color: var(--ant-segmented-item-selected-color);
}

.ant-segmented .ant-segmented-item-focused {
  outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.ant-segmented .ant-segmented-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  inset-inline-start: 0;
  border-radius: inherit;
  opacity: 0;
  transition:
    opacity var(--ant-motion-duration-mid),
    background-color var(--ant-motion-duration-mid);
  pointer-events: none;
}

.ant-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ):hover,
.ant-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ):active {
  color: var(--ant-segmented-item-hover-color);
}

.ant-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ):hover::after {
  opacity: 1;
  background-color: var(--ant-segmented-item-hover-bg);
}

.ant-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ):active::after {
  opacity: 1;
  background-color: var(--ant-segmented-item-active-bg);
}

.ant-segmented .ant-segmented-item-label {
  min-height: calc(
    var(--ant-control-height) -
    var(--ant-segmented-track-padding) *
    2
  );
  line-height: calc(
    var(--ant-control-height) -
    var(--ant-segmented-track-padding) *
    2
  );
  padding: 0 calc(var(--ant-control-padding-horizontal) - var(--ant-line-width));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-segmented .ant-segmented-item-icon + * {
  margin-inline-start: calc(var(--ant-margin-sm) / 2);
}

.ant-segmented .ant-segmented-item-input {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.ant-segmented .ant-segmented-thumb {
  background: var(--ant-segmented-item-selected-bg);
  box-shadow: var(--ant-box-shadow-tertiary);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 0;
  height: 100%;
  padding: var(--ant-padding-xxs) 0;
  border-radius: var(--ant-border-radius-sm);
}

.ant-segmented
  .ant-segmented-thumb
  ~ .ant-segmented-item:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  background-color: transparent;
}

.ant-segmented.ant-segmented-lg {
  border-radius: var(--ant-border-radius-lg);
}

.ant-segmented.ant-segmented-lg .ant-segmented-item-label {
  min-height: calc(
    var(--ant-control-height-lg) -
    var(--ant-segmented-track-padding) *
    2
  );
  line-height: calc(
    var(--ant-control-height-lg) -
    var(--ant-segmented-track-padding) *
    2
  );
  padding: 0 calc(var(--ant-control-padding-horizontal) - var(--ant-line-width));
  font-size: var(--ant-font-size-lg);
}

.ant-segmented.ant-segmented-lg .ant-segmented-item,
.ant-segmented.ant-segmented-lg .ant-segmented-thumb {
  border-radius: var(--ant-border-radius);
}

.ant-segmented.ant-segmented-sm {
  border-radius: var(--ant-border-radius-sm);
}

.ant-segmented.ant-segmented-sm .ant-segmented-item-label {
  min-height: calc(
    var(--ant-control-height-sm) -
    var(--ant-segmented-track-padding) *
    2
  );
  line-height: calc(
    var(--ant-control-height-sm) -
    var(--ant-segmented-track-padding) *
    2
  );
  padding: 0
    calc(var(--ant-control-padding-horizontal-sm) - var(--ant-line-width));
}

.ant-segmented.ant-segmented-sm .ant-segmented-item,
.ant-segmented.ant-segmented-sm .ant-segmented-thumb {
  border-radius: var(--ant-border-radius-xs);
}

.ant-segmented-disabled .ant-segmented-item,
.ant-segmented-disabled .ant-segmented-item:hover,
.ant-segmented-disabled .ant-segmented-item:focus {
  color: var(--ant-color-text-disabled);
  cursor: not-allowed;
}

.ant-segmented .ant-segmented-item-disabled,
.ant-segmented .ant-segmented-item-disabled:hover,
.ant-segmented .ant-segmented-item-disabled:focus {
  color: var(--ant-color-text-disabled);
  cursor: not-allowed;
}

.ant-segmented .ant-segmented-thumb-motion-appear-active {
  transition:
    transform var(--ant-motion-duration-slow) var(--ant-motion-ease-in-out),
    width var(--ant-motion-duration-slow) var(--ant-motion-ease-in-out);
  will-change: transform, width;
}

.ant-segmented.ant-segmented-shape-round {
  border-radius: 9999px;
}

.ant-segmented.ant-segmented-shape-round .ant-segmented-item,
.ant-segmented.ant-segmented-shape-round .ant-segmented-thumb {
  border-radius: 9999px;
}

.ant-segmented {
  --ant-segmented-track-padding: 2px;
  --ant-segmented-track-bg: #f5f5f5;
  --ant-segmented-item-color: rgba(0, 0, 0, 0.65);
  --ant-segmented-item-hover-color: rgba(0, 0, 0, 0.88);
  --ant-segmented-item-hover-bg: rgba(0, 0, 0, 0.06);
  --ant-segmented-item-selected-bg: #ffffff;
  --ant-segmented-item-active-bg: rgba(0, 0, 0, 0.15);
  --ant-segmented-item-selected-color: rgba(0, 0, 0, 0.88);
}
