/* Splitter - .ant-splitter */

.ant-splitter-css-var {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-splitter-css-var::before,
.ant-splitter-css-var::after {
  box-sizing: border-box;
}

.ant-splitter-css-var [class^="ant-splitter"],
.ant-splitter-css-var [class*=" ant-splitter"] {
  box-sizing: border-box;
}

.ant-splitter-css-var [class^="ant-splitter"]::before,
.ant-splitter-css-var [class*=" ant-splitter"]::before,
.ant-splitter-css-var [class^="ant-splitter"]::after,
.ant-splitter-css-var [class*=" ant-splitter"]::after {
  box-sizing: border-box;
}

.ant-splitter {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.ant-splitter > .ant-splitter-bar {
  flex: none;
  position: relative;
  user-select: none;
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-dragger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-dragger::before {
  content: "";
  background: var(--ant-control-item-bg-hover);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-dragger::after {
  content: "";
  background: var(--ant-color-fill);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger:hover:not(
    .ant-splitter-bar-dragger-active
  )::before {
  background: var(--ant-control-item-bg-active);
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-dragger-active {
  z-index: 2;
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-dragger-active::before {
  background: var(--ant-control-item-bg-active-hover);
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-active.ant-splitter-bar-dragger-customize
  .ant-splitter-bar-dragger-icon {
  color: var(--ant-color-primary);
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger {
  z-index: 0;
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger,
.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger:hover,
.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger-active {
  cursor: default;
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger::before,
.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger:hover::before,
.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger-active::before {
  background: var(--ant-control-item-bg-hover);
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger::after {
  display: none;
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-disabled.ant-splitter-bar-dragger
  .ant-splitter-bar-dragger-icon {
  display: none;
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-dragger-customize
  .ant-splitter-bar-dragger-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  color: var(--ant-color-fill);
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-dragger-customize::after {
  display: none;
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-collapse-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--ant-z-index-popup-base);
  background: var(--ant-control-item-bg-hover);
  font-size: var(--ant-font-size-sm);
  border-radius: var(--ant-border-radius-xs);
  color: var(--ant-color-text);
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar:hover:not(
    .ant-splitter-bar-collapse-bar-customize
  ) {
  background: var(--ant-control-item-bg-active);
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar:active:not(
    .ant-splitter-bar-collapse-bar-customize
  ) {
  background: var(--ant-control-item-bg-active-hover);
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar
  .ant-splitter-bar-collapse-icon {
  display: flex;
  align-items: center;
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-collapse-bar-customize {
  background: transparent;
}

.ant-splitter
  > .ant-splitter-bar:hover
  .ant-splitter-bar-collapse-bar-hover-only,
.ant-splitter
  > .ant-splitter-bar:active
  .ant-splitter-bar-collapse-bar-hover-only {
  opacity: 1;
}

@media (hover: none) {
  .ant-splitter > .ant-splitter-bar .ant-splitter-bar-collapse-bar-hover-only {
    opacity: 1;
  }
}

.ant-splitter > .ant-splitter-bar .ant-splitter-bar-collapse-bar-always-hidden {
  display: none;
}

.ant-splitter
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar-always-visible {
  opacity: 1;
}

.ant-splitter .ant-splitter-mask {
  position: fixed;
  z-index: var(--ant-z-index-popup-base);
  inset: 0;
}

.ant-splitter .ant-splitter-mask-horizontal {
  cursor: col-resize;
}

.ant-splitter .ant-splitter-mask-vertical {
  cursor: row-resize;
}

.ant-splitter-horizontal {
  flex-direction: row;
}

.ant-splitter-horizontal > .ant-splitter-bar {
  width: 0;
}

.ant-splitter-horizontal > .ant-splitter-bar .ant-splitter-bar-preview {
  height: 100%;
  width: var(--ant-splitter-split-bar-size);
  position: absolute;
  background: var(--ant-color-primary);
  opacity: 0.2;
  pointer-events: none;
  transition: none;
  z-index: 1;
  display: none;
}

.ant-splitter-horizontal
  > .ant-splitter-bar
  .ant-splitter-bar-preview.ant-splitter-bar-preview-active {
  display: block;
  transform: translateX(var(--ant-splitter-bar-preview-offset));
}

.ant-splitter-horizontal > .ant-splitter-bar .ant-splitter-bar-dragger {
  cursor: col-resize;
  height: 100%;
  width: var(--ant-splitter-split-trigger-size);
}

.ant-splitter-horizontal > .ant-splitter-bar .ant-splitter-bar-dragger::before {
  height: 100%;
  width: var(--ant-splitter-split-bar-size);
}

.ant-splitter-horizontal > .ant-splitter-bar .ant-splitter-bar-dragger::after {
  height: var(--ant-splitter-split-bar-draggable-size);
  width: var(--ant-splitter-split-bar-size);
}

.ant-splitter-horizontal > .ant-splitter-bar .ant-splitter-bar-collapse-bar {
  width: var(--ant-font-size-sm);
  height: var(--ant-control-height-sm);
}

.ant-splitter-horizontal
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar-start {
  left: auto;
  right: calc(var(--ant-splitter-split-trigger-size) / 2);
  transform: translateY(-50%);
}

.ant-splitter-horizontal
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar-end {
  left: calc(var(--ant-splitter-split-trigger-size) / 2);
  right: auto;
  transform: translateY(-50%);
}

.ant-splitter-vertical {
  flex-direction: column;
}

.ant-splitter-vertical > .ant-splitter-bar {
  height: 0;
}

.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-preview {
  height: var(--ant-splitter-split-bar-size);
  width: 100%;
  position: absolute;
  background: var(--ant-color-primary);
  opacity: 0.2;
  pointer-events: none;
  transition: none;
  z-index: 1;
  display: none;
}

.ant-splitter-vertical
  > .ant-splitter-bar
  .ant-splitter-bar-preview.ant-splitter-bar-preview-active {
  display: block;
  transform: translateY(var(--ant-splitter-bar-preview-offset));
}

.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-dragger {
  cursor: row-resize;
  width: 100%;
  height: var(--ant-splitter-split-trigger-size);
}

.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-dragger::before {
  width: 100%;
  height: var(--ant-splitter-split-bar-size);
}

.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-dragger::after {
  width: var(--ant-splitter-split-bar-draggable-size);
  height: var(--ant-splitter-split-bar-size);
}

.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-collapse-bar {
  height: var(--ant-font-size-sm);
  width: var(--ant-control-height-sm);
}

.ant-splitter-vertical
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-bar-start {
  top: auto;
  bottom: calc(var(--ant-splitter-split-trigger-size) / 2);
  transform: translateX(-50%);
}

.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-collapse-bar-end {
  top: calc(var(--ant-splitter-split-trigger-size) / 2);
  bottom: auto;
  transform: translateX(-50%);
}

.ant-splitter .ant-splitter-panel {
  overflow: auto;
  padding: 0 1px;
  scrollbar-width: thin;
  box-sizing: border-box;
}

.ant-splitter .ant-splitter-panel-hidden {
  padding: 0;
  overflow: hidden;
}

.ant-splitter .ant-splitter-panel:has(.ant-splitter:only-child) {
  overflow: hidden;
}

.ant-splitter-rtl.ant-splitter-horizontal
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-previous {
  inset-inline-end: 0;
  inset-inline-start: unset;
}

.ant-splitter-rtl.ant-splitter-horizontal
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-next {
  inset-inline-end: unset;
  inset-inline-start: 0;
}

.ant-splitter-rtl.ant-splitter-vertical
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-previous {
  inset-inline-end: 50%;
  inset-inline-start: unset;
}

.ant-splitter-rtl.ant-splitter-vertical
  > .ant-splitter-bar
  .ant-splitter-bar-collapse-next {
  inset-inline-end: 50%;
  inset-inline-start: unset;
}

.ant-splitter-css-var {
  --ant-splitter-split-bar-size: 2px;
  --ant-splitter-split-trigger-size: 6px;
  --ant-splitter-split-bar-draggable-size: 20px;
  --ant-splitter-resize-spinner-size: 20px;
}
