/* Steps - .ant-steps */

.ant-steps{font-family:var(--ant-font-family);font-size:var(--ant-font-size);box-sizing:border-box;}

.ant-steps::before,.ant-steps::after{box-sizing:border-box;}

.ant-steps [class^="ant-steps"],.ant-steps [class*=" ant-steps"]{box-sizing:border-box;}

.ant-steps [class^="ant-steps"]::before,.ant-steps [class*=" ant-steps"]::before,.ant-steps [class^="ant-steps"]::after,.ant-steps [class*=" ant-steps"]::after{box-sizing:border-box;}

.ant-steps{--steps-title-font-size:var(--ant-font-size-lg);--steps-title-line-height:var(--ant-line-height-lg);--steps-subtitle-font-size:var(--ant-font-size);--steps-subtitle-line-height:var(--ant-line-height);--steps-item-wrapper-padding-top:0px;--steps-rail-size:var(--ant-line-width);--steps-rail-line-style:var(--ant-line-type);box-sizing:border-box;margin:0;padding:0;color:var(--ant-color-text);font-size:var(--ant-font-size);line-height:var(--ant-line-height);list-style:none;font-family:var(--ant-font-family);display:flex;flex-wrap:nowrap;align-items:flex-start;}

.ant-steps .ant-steps-item{flex:none;position:relative;}

.ant-steps .ant-steps-item-wrapper{display:flex;flex-wrap:nowrap;padding-top:var(--steps-item-wrapper-padding-top);}

.ant-steps .ant-steps-item-header{display:flex;flex-wrap:nowrap;align-items:center;}

.ant-steps .ant-steps-item-title{color:var(--ant-color-text);font-size:var(--steps-title-font-size);line-height:var(--steps-title-line-height);word-break:break-word;}

.ant-steps .ant-steps-item-subtitle{color:var(--ant-color-text-description);font-weight:normal;font-size:var(--steps-subtitle-font-size);line-height:var(--steps-subtitle-line-height);margin-inline-start:var(--ant-margin-xs);word-break:break-word;}

.ant-steps .ant-steps-item-content{color:var(--ant-color-text-description);font-size:var(--ant-font-size);line-height:var(--ant-line-height);word-break:break-word;}

.ant-steps .ant-steps-item-rail{border-style:var(--steps-rail-line-style);border-width:0;}

.ant-steps .ant-steps-item-title,.ant-steps .ant-steps-item-subtitle,.ant-steps .ant-steps-item-content,.ant-steps .ant-steps-item-rail{transition:all var(--ant-motion-duration-slow);}

.ant-steps.ant-steps-ellipsis .ant-steps-item-title,.ant-steps.ant-steps-ellipsis .ant-steps-item-subtitle,.ant-steps.ant-steps-ellipsis .ant-steps-item-content{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.ant-steps .ant-steps-item[role='button']:not(.ant-steps-item-active):hover{cursor:pointer;}

.ant-steps{--steps-icon-size:var(--ant-steps-icon-size);--steps-icon-border-width:var(--ant-line-width);}

.ant-steps .ant-steps-item-icon{width:var(--steps-icon-size);height:var(--steps-icon-size);margin:0;flex:none;display:flex;align-items:center;justify-content:center;font-size:var(--ant-steps-icon-font-size);font-family:var(--ant-font-family);line-height:var(--steps-icon-size);text-align:center;border-radius:var(--steps-icon-size);border:var(--steps-icon-border-width) var(--ant-line-type) transparent;transition:background var(--ant-motion-duration-slow),border var(--ant-motion-duration-slow),color var(--ant-motion-duration-slow),inset var(--ant-motion-duration-slow),transform var(--ant-motion-duration-slow);z-index:1;}

.ant-steps .ant-steps-item-custom .ant-steps-item-icon{background:none;border:0;font-size:var(--ant-steps-custom-icon-font-size);}

.ant-steps-vertical{--steps-vertical-rail-margin:calc(var(--ant-margin-xxs) * 1.5);flex-direction:column;align-items:stretch;}

.ant-steps-vertical >.ant-steps-item{min-height:calc(var(--ant-control-height) * 1.5);padding-bottom:var(--ant-padding-sm);}

.ant-steps-vertical >.ant-steps-item:last-child{padding-bottom:0;}

.ant-steps-vertical >.ant-steps-item .ant-steps-item-icon{margin-inline-start:calc((var(--steps-icon-size-max) - var(--steps-icon-size)) / 2);}

.ant-steps-vertical >.ant-steps-item .ant-steps-item-rail{--steps-rail-offset:calc((var(--steps-heading-height) - var(--steps-icon-size)) / 2);border-inline-start-width:var(--steps-rail-size);position:absolute;top:calc(var(--steps-icon-size) + var(--steps-item-wrapper-padding-top) + var(--steps-rail-offset) + var(--steps-vertical-rail-margin));inset-inline-start:calc(var(--steps-icon-size-max) / 2);bottom:calc(var(--steps-vertical-rail-margin) - var(--steps-rail-offset));margin-inline-start:calc(var(--steps-rail-size) / -2);}

.ant-steps-horizontal >.ant-steps-item{flex:1 1 auto;min-width:var(--ant-steps-icon-size);}

.ant-steps-horizontal >.ant-steps-item .ant-steps-item-rail{--steps-horizontal-rail-margin:calc(var(--steps-icon-size-max) / 2 + var(--steps-item-wrapper-padding-top));position:static;margin-top:var(--steps-horizontal-rail-margin);width:auto;border-block-start-width:var(--steps-rail-size);flex:1;min-width:0;align-self:flex-start;transform:translateY(-50%);}

.ant-steps{--steps-icon-size-max:max(var(--steps-icon-size), var(--steps-icon-size-active, var(--steps-icon-size)));}

.ant-steps .ant-steps-item-icon{margin-block-start:calc((var(--steps-heading-height) - var(--steps-icon-size)) / 2);}

.ant-steps-title-horizontal{--steps-title-horizontal-item-margin:var(--ant-margin);--steps-title-horizontal-rail-margin:var(--ant-margin);--steps-title-horizontal-title-height:var(--ant-font-height-lg);--steps-heading-height:max(var(--steps-icon-size), var(--steps-title-horizontal-title-height));}

.ant-steps-title-horizontal.ant-steps-horizontal .ant-steps-item:not(:first-child),.ant-steps-title-horizontal.ant-steps-horizontal-alternate .ant-steps-item:not(:first-child){margin-inline-start:var(--steps-title-horizontal-item-margin);}

.ant-steps-title-horizontal.ant-steps-horizontal .ant-steps-item:last-child,.ant-steps-title-horizontal.ant-steps-horizontal-alternate .ant-steps-item:last-child{flex:0 1 auto;}

.ant-steps-title-horizontal.ant-steps-horizontal .ant-steps-item-wrapper,.ant-steps-title-horizontal.ant-steps-horizontal-alternate .ant-steps-item-wrapper{column-gap:var(--ant-margin-xs);}

.ant-steps-title-horizontal.ant-steps-vertical .ant-steps-item-wrapper{column-gap:var(--ant-margin);}

.ant-steps-title-horizontal.ant-steps-vertical .ant-steps-item-empty-header .ant-steps-item-header{min-height:auto;}

.ant-steps-title-horizontal.ant-steps-vertical .ant-steps-item-empty-header .ant-steps-item-content{margin-top:calc((var(--steps-heading-height) - var(--ant-font-height)) / 2);}

.ant-steps-title-horizontal .ant-steps-item-section{flex:1;min-width:0;}

.ant-steps-title-horizontal .ant-steps-item-header{min-height:var(--steps-heading-height);}

.ant-steps-title-horizontal .ant-steps-item-title{flex:0 1 auto;}

.ant-steps-title-horizontal .ant-steps-item-content{max-width:var(--ant-steps-description-max-width);}

.ant-steps-title-horizontal .ant-steps-item-subtitle{flex:0 9999 auto;}

.ant-steps-title-horizontal.ant-steps-horizontal .ant-steps-item-rail{--steps-item-wrapper-padding-top:0px;flex:1;margin-inline-start:var(--steps-title-horizontal-rail-margin);}

.ant-steps-title-vertical{--steps-title-vertical-row-gap:var(--ant-padding-sm);--steps-title-horizontal-rail-gap:var(--ant-margin-xxs);--steps-heading-height:var(--steps-icon-size-max);}

.ant-steps-title-vertical >.ant-steps-item{flex:1;}

.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-wrapper{flex-direction:column;row-gap:var(--steps-title-vertical-row-gap);align-items:center;}

.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-section{align-self:stretch;}

.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-header{flex-direction:column;align-items:center;}

.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-title,.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-subtitle,.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-content{text-align:center;max-width:100%;}

.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-subtitle{margin:0;}

.ant-steps-title-vertical >.ant-steps-item .ant-steps-item-rail{position:absolute;top:0;width:calc(100% - var(--steps-icon-size) - var(--steps-title-horizontal-rail-gap) * 2);inset-inline-start:calc(50% + var(--steps-icon-size) / 2 + var(--steps-title-horizontal-rail-gap));}

@container style(--ant-steps-description-max-width){.ant-steps-title-vertical .ant-steps-item-icon{margin-inline-start:calc((var(--ant-steps-description-max-width) - var(--steps-icon-size)) / 2);}.ant-steps-title-vertical .ant-steps-item-rail{width:auto;inset-inline-start:calc((var(--ant-steps-description-max-width) + var(--steps-icon-size)) / 2 + var(--ant-margin-xs));inset-inline-end:calc(((var(--ant-steps-description-max-width) - var(--steps-icon-size)) / 2 - var(--ant-margin-xs)) * -1);}.ant-steps-title-vertical .ant-steps-item:last-child{flex:none;}.ant-steps-title-vertical .ant-steps-item-icon{align-self:flex-start;}.ant-steps-title-vertical .ant-steps-item-section{width:var(--ant-steps-description-max-width);}}

.ant-steps.ant-steps-small{--steps-icon-size:var(--ant-steps-icon-size-sm);--steps-title-horizontal-item-margin:var(--ant-margin-sm);--steps-title-vertical-row-gap:var(--ant-padding-xs);--steps-title-font-size:var(--ant-font-size);--steps-title-line-height:var(--ant-line-height);--steps-title-horizontal-rail-margin:var(--ant-margin-xs);--steps-title-horizontal-title-height:var(--ant-font-height);}

@container style(--ant-steps-description-max-width){.ant-steps.ant-steps-small.ant-steps-horizontal.ant-steps-title-vertical .ant-steps-item-icon{margin-inline-start:calc((var(--ant-steps-description-max-width) - var(--steps-icon-size)) / 2);}.ant-steps.ant-steps-small.ant-steps-horizontal.ant-steps-title-vertical .ant-steps-item-rail{width:auto;inset-inline-start:calc((var(--ant-steps-description-max-width) + var(--steps-icon-size)) / 2 + var(--ant-margin-xs));inset-inline-end:calc(((var(--ant-steps-description-max-width) - var(--steps-icon-size)) / 2 - var(--ant-margin-xs)) * -1);}}

.ant-steps.ant-steps-dot{--steps-icon-size-active:var(--ant-steps-dot-current-size);--steps-icon-size:var(--ant-steps-dot-size);--steps-dot-icon-size:var(--ant-steps-dot-size);--steps-dot-icon-border-width:var(--ant-line-width-bold);--steps-rail-size:var(--ant-line-width-bold);--steps-icon-border-width:var(--ant-line-width-bold);}

.ant-steps.ant-steps-dot .ant-steps-item-custom .ant-steps-item-icon{font-size:var(--ant-font-size-sm);}

.ant-steps.ant-steps-dot .ant-steps-item-icon{position:relative;}

.ant-steps.ant-steps-dot .ant-steps-item-icon:after{content:"";width:var(--ant-steps-icon-size);height:var(--ant-steps-icon-size);display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}

.ant-steps.ant-steps-dot .ant-steps-item-active .ant-steps-item-icon{--steps-icon-size:var(--steps-icon-size-active);}

@container style(--ant-steps-description-max-width){.ant-steps.ant-steps-dot.ant-steps-horizontal .ant-steps-item-icon,.ant-steps.ant-steps-dot.ant-steps-horizontal.ant-steps-small .ant-steps-item-icon{margin-inline-start:calc((var(--ant-steps-description-max-width) - var(--steps-icon-size)) / 2);}.ant-steps.ant-steps-dot.ant-steps-horizontal .ant-steps-item-rail,.ant-steps.ant-steps-dot.ant-steps-horizontal.ant-steps-small .ant-steps-item-rail{width:auto;inset-inline-start:calc((var(--ant-steps-description-max-width) + var(--steps-icon-size)) / 2 + var(--ant-margin-xxs));inset-inline-end:calc(((var(--ant-steps-description-max-width) - var(--steps-icon-size)) / 2 - var(--ant-margin-xxs)) * -1);}}

.ant-steps .ant-steps-item{--steps-item-solid-line-color:#000;--steps-item-title-color:#000;--steps-item-content-color:#000;--steps-item-subtitle-color:var(--steps-item-content-color);--steps-item-icon-custom-color:#000;--steps-item-icon-bg-color:#000;--steps-item-icon-border-color:#000;--steps-item-icon-text-color:#fff;--steps-item-icon-dot-color:#000;--steps-item-icon-dot-bg-color:var(--steps-item-icon-dot-color);--steps-item-icon-dot-border-color:var(--steps-item-icon-dot-color);--steps-item-text-hover-color:#000;--steps-item-icon-bg-hover-color:var(--steps-item-icon-bg-color);--steps-item-icon-border-hover-color:var(--steps-item-icon-border-color);--steps-item-icon-text-hover-color:var(--steps-item-icon-text-color);--steps-item-content-active-color:var(--steps-item-content-color);--steps-item-icon-active-bg-color:var(--steps-item-icon-bg-color);--steps-item-icon-active-border-color:var(--steps-item-icon-border-color);--steps-item-icon-active-text-color:var(--steps-item-icon-text-color);--steps-item-process-rail-line-style:var(--ant-line-type);}

.ant-steps .ant-steps-item-rail{border-color:var(--steps-item-solid-line-color);}

.ant-steps .ant-steps-item-custom .ant-steps-item-icon{color:var(--steps-item-icon-custom-color);}

.ant-steps .ant-steps-item-title{color:var(--steps-item-title-color);}

.ant-steps .ant-steps-item-subtitle{color:var(--steps-item-subtitle-color);}

.ant-steps .ant-steps-item-content{color:var(--steps-item-content-color);}

.ant-steps .ant-steps-item-active .ant-steps-item-content{color:var(--steps-item-content-active-color);}

.ant-steps .ant-steps-item[role='button']:not(.ant-steps-item-active):hover .ant-steps-item-title,.ant-steps .ant-steps-item[role='button']:not(.ant-steps-item-active):hover .ant-steps-item-content{color:var(--steps-item-text-hover-color);}

.ant-steps:not(.ant-steps-dot) .ant-steps-item:not(.ant-steps-item-custom) .ant-steps-item-icon{background:var(--steps-item-icon-bg-color);border-color:var(--steps-item-icon-border-color);color:var(--steps-item-icon-text-color);}

.ant-steps:not(.ant-steps-dot) .ant-steps-item:not(.ant-steps-item-custom)[role='button']:not(.ant-steps-item-active):hover .ant-steps-item-icon{background:var(--steps-item-icon-bg-hover-color);border-color:var(--steps-item-icon-border-hover-color);color:var(--steps-item-icon-text-hover-color);}

.ant-steps:not(.ant-steps-dot) .ant-steps-item:not(.ant-steps-item-custom).ant-steps-item-active .ant-steps-item-icon{background:var(--steps-item-icon-active-bg-color);border-color:var(--steps-item-icon-active-border-color);color:var(--steps-item-icon-active-text-color);}

.ant-steps.ant-steps-dot .ant-steps-item-icon{background:var(--steps-item-icon-dot-bg-color);border-color:var(--steps-item-icon-dot-border-color);color:var(--steps-item-icon-dot-color);}

.ant-steps.ant-steps-dot .ant-steps-item-icon.ant-steps-item-icon-dot-custom{background:transparent;border:none;}

.ant-steps .ant-steps-item-wait{--steps-item-icon-custom-color:var(--ant-color-text-disabled);--steps-item-title-color:var(--ant-color-text-description);--steps-item-content-color:var(--ant-color-text-description);--steps-item-content-active-color:var(--ant-color-text);--steps-item-text-hover-color:var(--ant-color-primary-hover);}

.ant-steps .ant-steps-item-rail-wait{--steps-item-solid-line-color:var(--ant-color-text-disabled);}

.ant-steps .ant-steps-item-process{--steps-item-icon-custom-color:var(--ant-color-primary);--steps-item-title-color:var(--ant-color-text);--steps-item-content-color:var(--ant-color-text-description);--steps-item-content-active-color:var(--ant-color-text);--steps-item-text-hover-color:var(--ant-color-primary-hover);}

.ant-steps .ant-steps-item-rail-process{--steps-item-solid-line-color:var(--ant-color-primary);--steps-rail-line-style:var(--steps-item-process-rail-line-style);}

.ant-steps .ant-steps-item-finish{--steps-item-icon-custom-color:var(--ant-color-primary);--steps-item-title-color:var(--ant-color-text);--steps-item-content-color:var(--ant-color-text-description);--steps-item-content-active-color:var(--ant-color-text);--steps-item-text-hover-color:var(--ant-color-primary-hover);}

.ant-steps .ant-steps-item-rail-finish{--steps-item-solid-line-color:var(--ant-color-primary);}

.ant-steps .ant-steps-item-error{--steps-item-icon-custom-color:var(--ant-color-error);--steps-item-title-color:var(--ant-color-error);--steps-item-content-color:var(--ant-color-error);--steps-item-content-active-color:var(--ant-color-error);--steps-item-text-hover-color:var(--ant-color-error-hover);}

.ant-steps .ant-steps-item-rail-error{--steps-item-solid-line-color:var(--ant-color-error);}

.ant-steps.ant-steps-filled .ant-steps-item{--steps-item-icon-dot-border-color:transparent;}

.ant-steps.ant-steps-filled .ant-steps-item-wait{--steps-item-icon-bg-color:var(--ant-color-fill-tertiary);--steps-item-icon-border-color:transparent;--steps-item-icon-text-color:var(--ant-color-text-label);--steps-item-icon-dot-bg-color:var(--ant-color-text-disabled);--steps-item-icon-bg-hover-color:var(--ant-color-primary-bg-hover);--steps-item-icon-border-hover-color:transparent;--steps-item-icon-text-hover-color:var(--ant-color-primary);--steps-item-icon-active-bg-color:var(--ant-color-primary);--steps-item-icon-active-border-color:transparent;--steps-item-icon-active-text-color:var(--ant-color-text-light-solid);}

.ant-steps.ant-steps-filled .ant-steps-item-process,.ant-steps.ant-steps-filled .ant-steps-item-finish{--steps-item-icon-bg-color:var(--ant-color-primary-bg);--steps-item-icon-border-color:transparent;--steps-item-icon-text-color:var(--ant-color-primary);--steps-item-icon-dot-bg-color:var(--ant-color-primary);--steps-item-icon-bg-hover-color:var(--ant-color-primary-bg-hover);--steps-item-icon-border-hover-color:transparent;--steps-item-icon-text-hover-color:var(--ant-color-primary);--steps-item-icon-active-bg-color:var(--ant-color-primary);--steps-item-icon-active-border-color:transparent;--steps-item-icon-active-text-color:var(--ant-color-text-light-solid);}

.ant-steps.ant-steps-filled .ant-steps-item-error{--steps-item-icon-bg-color:var(--ant-color-error-bg);--steps-item-icon-border-color:transparent;--steps-item-icon-text-color:var(--ant-color-error);--steps-item-icon-dot-bg-color:var(--ant-color-error);--steps-item-icon-bg-hover-color:var(--ant-color-error-bg-filled-hover);--steps-item-icon-border-hover-color:transparent;--steps-item-icon-text-hover-color:var(--ant-color-error);--steps-item-icon-active-bg-color:var(--ant-color-error);--steps-item-icon-active-border-color:transparent;--steps-item-icon-active-text-color:var(--ant-color-text-light-solid);}

.ant-steps.ant-steps-outlined .ant-steps-item{--steps-item-icon-dot-bg-color:transparent;}

.ant-steps.ant-steps-outlined .ant-steps-item-wait{--steps-item-icon-bg-color:var(--ant-color-bg-container);--steps-item-icon-border-color:var(--ant-color-text-disabled);--steps-item-icon-text-color:var(--ant-color-text-disabled);--steps-item-icon-dot-color:var(--ant-color-text-disabled);--steps-item-icon-bg-hover-color:transparent;--steps-item-icon-border-hover-color:var(--ant-color-primary-hover);--steps-item-icon-text-hover-color:var(--ant-color-primary-hover);--steps-item-icon-active-bg-color:var(--ant-color-fill-tertiary);}

.ant-steps.ant-steps-outlined .ant-steps-item-process,.ant-steps.ant-steps-outlined .ant-steps-item-finish{--steps-item-icon-bg-color:var(--ant-color-bg-container);--steps-item-icon-border-color:var(--ant-color-primary);--steps-item-icon-text-color:var(--ant-color-primary);--steps-item-icon-dot-color:var(--ant-color-primary);--steps-item-icon-bg-hover-color:transparent;--steps-item-icon-border-hover-color:var(--ant-color-primary-hover);--steps-item-icon-text-hover-color:var(--ant-color-primary-hover);--steps-item-icon-active-bg-color:var(--ant-color-primary-bg);}

.ant-steps.ant-steps-outlined .ant-steps-item-error{--steps-item-icon-bg-color:var(--ant-color-bg-container);--steps-item-icon-border-color:var(--ant-color-error);--steps-item-icon-text-color:var(--ant-color-error);--steps-item-icon-dot-color:var(--ant-color-error);--steps-item-icon-bg-hover-color:transparent;--steps-item-icon-border-hover-color:var(--ant-color-error-hover);--steps-item-icon-text-hover-color:var(--ant-color-error-hover);--steps-item-icon-active-bg-color:var(--ant-color-error-bg);}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item{display:flex;justify-content:center;position:relative;flex:1;margin-inline-start:0;}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item .ant-steps-item-wrapper{padding-block:var(--ant-padding-sm);}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item .ant-steps-item-section{max-width:var(--ant-steps-nav-content-max-width);}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item .ant-steps-item-rail{display:none;}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item:before{position:absolute;display:block;background-color:var(--ant-color-primary);transition:all var(--ant-motion-duration-slow);transition-timing-function:ease-out;content:"";}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item:not(:last-child):after{position:absolute;display:block;border-top:var(--ant-line-width) var(--ant-line-type) var(--ant-steps-nav-arrow-color);border-bottom:none;border-inline-start:none;border-inline-end:var(--ant-line-width) var(--ant-line-type) var(--ant-steps-nav-arrow-color);content:"";}

.ant-steps.ant-steps-navigation .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item-active{--steps-item-content-active-color:var(--steps-item-content-color);--steps-item-icon-active-bg-color:var(--steps-item-icon-bg-color);--steps-item-icon-active-border-color:var(--steps-item-icon-border-color);--steps-item-icon-active-text-color:var(--steps-item-icon-text-color);}

.ant-steps.ant-steps-navigation.ant-steps-horizontal .ant-steps-item:before{bottom:0;inset-inline-start:50%;width:0;height:var(--ant-line-width-bold);}

.ant-steps.ant-steps-navigation.ant-steps-horizontal .ant-steps-item.ant-steps-item-active:before{inset-inline-start:0;width:100%;}

.ant-steps.ant-steps-navigation.ant-steps-horizontal .ant-steps-item:not(:last-child):after{top:50%;inset-inline-start:calc(var(--ant-font-size-icon) / 2 * -1 + 100%);width:var(--ant-font-size-icon);height:var(--ant-font-size-icon);transform:translateY(-50%) rotate(45deg);}

.ant-steps.ant-steps-navigation.ant-steps-vertical .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item .ant-steps-item-content{padding:0;}

.ant-steps.ant-steps-navigation.ant-steps-vertical .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item:before{inset-inline-end:0;top:50%;width:var(--ant-line-width-bold);height:0;}

.ant-steps.ant-steps-navigation.ant-steps-vertical .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item-active::before{top:0;height:100%;}

.ant-steps.ant-steps-navigation.ant-steps-vertical .ant-steps-item.ant-steps-item.ant-steps-item.ant-steps-item:not(:last-child):after{left:50%;top:100%;width:calc(var(--ant-font-size-icon) / 3 * 2);height:calc(var(--ant-font-size-icon) / 3 * 2);transform:translateY(-50%) translateX(-50%) rotate(135deg);}

.ant-steps.ant-steps-panel .ant-steps-item-rail{display:none;}

.ant-steps.ant-steps-panel.ant-steps-horizontal{align-items:stretch;}

.ant-steps.ant-steps-panel.ant-steps-horizontal .ant-steps-item{flex:1;margin:0;}

.ant-steps.ant-steps-panel{--steps-panel-padding:var(--ant-padding-sm);--steps-item-border-radius:var(--ant-border-radius);}

.ant-steps.ant-steps-panel .ant-steps-item{--steps-panel-bg-color:var(--steps-item-icon-bg-color);--steps-panel-border-color:var(--steps-item-icon-border-color);--steps-panel-active-bg-color:var(--steps-item-icon-active-bg-color);--steps-panel-active-border-color:var(--steps-item-icon-active-border-color);--steps-panel-title-height:calc(var(--steps-title-font-size) * var(--steps-title-line-height));--steps-item-base-height:calc(var(--steps-panel-padding) * 2 + var(--steps-icon-size) + var(--steps-panel-title-height));--steps-item-base-width:calc(var(--steps-item-base-height) * 0.7071);transition:background var(--ant-motion-duration-mid);}

.ant-steps.ant-steps-panel .ant-steps-item-icon{display:none;}

.ant-steps.ant-steps-panel .ant-steps-item-header{min-height:auto;}

.ant-steps.ant-steps-panel .ant-steps-panel-arrow{position:absolute;top:calc(var(--ant-line-width-bold) * -1);inset-inline-start:100%;z-index:1;height:calc(var(--ant-line-width-bold) * 2 + 100%);width:var(--steps-item-base-width);overflow:visible;stroke-linecap:round;}

.ant-steps.ant-steps-panel .ant-steps-panel-arrow path{fill:var(--steps-panel-bg-color);stroke:var(--steps-panel-border-color);stroke-width:var(--ant-line-width-bold);vector-effect:non-scaling-stroke;transition:fill var(--ant-motion-duration-mid);}

.ant-steps.ant-steps-panel .ant-steps-item:last-child .ant-steps-panel-arrow{display:none;}

.ant-steps.ant-steps-panel .ant-steps-item{padding:var(--steps-panel-padding);background:var(--steps-panel-bg-color);position:relative;border-block:var(--ant-line-width-bold) var(--ant-line-type) var(--steps-panel-border-color);}

.ant-steps.ant-steps-panel .ant-steps-item:not(:first-child){padding-inline-start:calc(var(--steps-panel-padding) + var(--steps-item-base-width));}

.ant-steps.ant-steps-panel .ant-steps-item:first-child{border-inline-start:var(--ant-line-width-bold) var(--ant-line-type) var(--steps-panel-border-color);border-start-start-radius:var(--steps-item-border-radius);border-end-start-radius:var(--steps-item-border-radius);}

.ant-steps.ant-steps-panel .ant-steps-item:last-child{border-inline-end:var(--ant-line-width-bold) var(--ant-line-type) var(--steps-panel-border-color);border-start-end-radius:var(--steps-item-border-radius);border-end-end-radius:var(--steps-item-border-radius);}

.ant-steps.ant-steps-panel .ant-steps-item-active{background:var(--steps-panel-active-bg-color);border-color:var(--steps-panel-active-border-color);}

.ant-steps.ant-steps-panel .ant-steps-item-active .ant-steps-panel-arrow path{fill:var(--steps-panel-active-bg-color);stroke:var(--steps-panel-active-border-color);}

.ant-steps.ant-steps-panel .ant-steps-item-active .ant-steps-item-title,.ant-steps.ant-steps-panel .ant-steps-item-active .ant-steps-item-subtitle,.ant-steps.ant-steps-panel .ant-steps-item-active .ant-steps-item-content{color:var(--steps-item-icon-active-text-color);}

.ant-steps.ant-steps-panel.ant-steps-small{--steps-panel-padding:var(--ant-padding-xs);--steps-item-border-radius:var(--ant-border-radius-sm);}

.ant-steps.ant-steps-panel.ant-steps-filled .ant-steps-item:not(:first-child){clip-path:polygon(var(--ant-line-width-bold) 0,calc(100% + var(--steps-item-base-width)) 0,calc(100% + var(--steps-item-base-width)) 100%,var(--ant-line-width-bold) 100%,calc(var(--steps-item-base-width) + var(--ant-line-width-bold)) 50%);}

.ant-steps.ant-steps-panel.ant-steps-outlined .ant-steps-panel-arrow{top:calc(var(--ant-line-width-bold) / 2 * -1);height:calc(var(--ant-line-width-bold) + 100%);}

.ant-steps-inline{--steps-items-offset:0;--steps-item-wrapper-padding-top:calc(var(--ant-padding-xs) + var(--ant-line-width));display:inline-flex;}

.ant-steps-inline:before{content:"";flex:var(--steps-items-offset);}

.ant-steps-inline .ant-steps-item{--steps-title-vertical-row-gap:var(--ant-padding-xs);--steps-icon-size:6px;--steps-icon-size-active:6px;--steps-title-font-size:var(--ant-font-size-sm);--steps-title-line-height:var(--ant-line-height-sm);--steps-item-title-color:var(--ant-color-text-secondary);--steps-subtitle-font-size:var(--ant-font-size-sm);--steps-subtitle-line-height:var(--ant-line-height-sm);--steps-item-subtitle-color:var(--ant-color-text-quaternary);--steps-rail-size:var(--ant-line-width);--steps-title-horizontal-rail-gap:0px;flex:1;}

.ant-steps-inline .ant-steps-item-wrapper{padding-inline:var(--ant-padding-xxs);margin-inline:calc(var(--ant-margin-xxs) / 2);border-radius:var(--ant-border-radius-sm);cursor:pointer;transition:background var(--ant-motion-duration-mid);}

.ant-steps-inline .ant-steps-item-wrapper:hover{background:var(--ant-control-item-bg-hover);}

.ant-steps-inline .ant-steps-item-icon .ant-steps-item-icon-dot:after{display:none;}

.ant-steps-inline .ant-steps-item-title{font-weight:normal;white-space:nowrap;}

.ant-steps-inline .ant-steps-item-content{display:none;}

.ant-steps.ant-steps-with-progress{--steps-item-wrapper-padding-top:calc(var(--ant-line-width-bold) + var(--ant-line-width-bold));}

.ant-steps.ant-steps-with-progress .ant-steps-item.ant-steps-item-process .ant-steps-item-icon{position:relative;}

.ant-steps.ant-steps-with-progress .ant-steps-item-progress-icon-svg{--steps-svg-size:calc(calc(var(--ant-line-width-bold) + var(--ant-line-width-bold)) * 2 + var(--steps-icon-size));--icon-size-ptg-unitless:calc(100 / tan(atan2(var(--steps-svg-size),1px)));font-size:var(--steps-svg-size);line-height:var(--icon-size-ptg-unitless);position:absolute;inset:calc(calc(var(--ant-line-width-bold) + var(--ant-line-width-bold)) * -1);width:auto;height:auto;}

.ant-steps.ant-steps-with-progress .ant-steps-item-progress-icon-circle{line-height:var(--icon-size-ptg-unitless);stroke-width:calc(var(--icon-size-ptg-unitless) * var(--ant-line-width-bold));--progress-r:calc((var(--steps-svg-size) - var(--ant-line-width-bold)) * var(--icon-size-ptg-unitless) / 2);r:var(--progress-r);fill:none;cx:50px;cy:50px;transition:all var(--ant-motion-duration-slow) ease-in-out;}

.ant-steps.ant-steps-with-progress .ant-steps-item-progress-icon-circle-rail{stroke:var(--ant-color-split);}

.ant-steps.ant-steps-with-progress .ant-steps-item-progress-icon-circle-ptg{stroke:var(--ant-color-primary);}

.ant-steps-with-progress11 .ant-steps-item{padding-top:var(--ant-padding-xxs);padding-inline-start:var(--ant-padding-xxs);}

.ant-steps-with-progress11 .ant-steps-item-icon{position:relative;}

.ant-steps-with-progress11 .ant-steps-item-icon .ant-progress{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);}

.ant-steps-with-progress11 .ant-steps-item-icon .ant-progress-body{width:calc(var(--ant-steps-icon-size) + calc(var(--ant-line-width-bold) * 4))!important;height:calc(var(--ant-steps-icon-size) + calc(var(--ant-line-width-bold) * 4))!important;}

.ant-steps-with-progress11.ant-steps-small .ant-steps-item-icon .ant-progress-body{width:calc(var(--ant-steps-icon-size-sm) + calc(var(--ant-line-width) * 4))!important;height:calc(var(--ant-steps-icon-size-sm) + calc(var(--ant-line-width) * 4))!important;}

.ant-steps.ant-steps-rtl{direction:rtl;}

.ant-steps.ant-steps-rtl.ant-steps-navigation.ant-steps-horizontal .ant-steps-item:after{transform:translateY(-50%) rotate(-45deg);}

.ant-steps.ant-steps-rtl.ant-steps-panel .ant-steps-panel-arrow{transform:scaleX(-1);}

.ant-steps.ant-steps-rtl.ant-steps-panel.ant-steps-filled .ant-steps-item:not(:first-child){clip-path:polygon(calc(0px - var(--steps-item-base-width)) 0px,calc(100% - var(--ant-line-width-bold)) 0px,calc(100% - var(--steps-item-base-width) - var(--ant-line-width-bold)) 50%,calc(100% - var(--ant-line-width-bold)) 100%,calc(0px - var(--steps-item-base-width)) 100%);}

.ant-steps{--ant-steps-title-line-height:32px;--ant-steps-custom-icon-size:32px;--ant-steps-custom-icon-top:0px;--ant-steps-custom-icon-font-size:24px;--ant-steps-icon-size:32px;--ant-steps-icon-top:-0.5px;--ant-steps-icon-font-size:14px;--ant-steps-icon-size-sm:24px;--ant-steps-dot-size:8px;--ant-steps-dot-current-size:10px;--ant-steps-nav-arrow-color:rgba(0,0,0,0.25);--ant-steps-nav-content-max-width:unset;--ant-steps-wait-icon-color:rgba(0,0,0,0.65);--ant-steps-wait-icon-bg-color:rgba(0,0,0,0.06);--ant-steps-wait-icon-border-color:transparent;--ant-steps-finish-icon-bg-color:#e6f4ff;--ant-steps-finish-icon-border-color:#e6f4ff;}
