/* Tag - .ant-tag */

.ant-tag {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-tag::before,
.ant-tag::after {
  box-sizing: border-box;
}

.ant-tag [class^="ant-tag"],
.ant-tag [class*=" ant-tag"] {
  box-sizing: border-box;
}

.ant-tag [class^="ant-tag"]::before,
.ant-tag [class*=" ant-tag"]::before,
.ant-tag [class^="ant-tag"]::after,
.ant-tag [class*=" ant-tag"]::after {
  box-sizing: border-box;
}

.ant-tag {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size-sm);
  line-height: calc(var(--ant-line-height-sm) * var(--ant-font-size-sm));
  list-style: none;
  font-family: var(--ant-font-family);
  display: inline-block;
  height: auto;
  padding-inline: calc(8px - var(--ant-line-width));
  white-space: nowrap;
  background-color: var(--ant-tag-default-bg);
  border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
  border-radius: var(--ant-border-radius-sm);
  opacity: 1;
  transition: all var(--ant-motion-duration-mid);
  text-align: start;
  position: relative;
}

.ant-tag.ant-tag-rtl {
  direction: rtl;
}

.ant-tag,
.ant-tag a,
.ant-tag a:hover {
  color: var(--ant-tag-default-color);
}

.ant-tag .ant-tag-close-icon {
  margin-inline-start: calc(var(--ant-padding-xxs) - var(--ant-line-width));
  font-size: calc(var(--ant-font-size-icon) - var(--ant-line-width) * 2);
  color: var(--ant-color-icon);
  cursor: pointer;
  transition: all var(--ant-motion-duration-mid);
}

.ant-tag .ant-tag-close-icon:hover {
  color: var(--ant-color-text-heading);
}

.ant-tag-checkable {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: var(--ant-color-primary);
  background-color: var(--ant-color-fill-secondary);
}

.ant-tag-checkable:active,
.ant-tag-checkable-checked {
  color: var(--ant-color-text-light-solid);
}

.ant-tag-checkable-checked {
  background-color: var(--ant-color-primary);
}

.ant-tag-checkable-checked:hover {
  background-color: var(--ant-color-primary-hover);
}

.ant-tag-checkable:active {
  background-color: var(--ant-color-primary-active);
}

.ant-tag-checkable-disabled {
  cursor: not-allowed;
}

.ant-tag-checkable-disabled:not(.ant-tag-checkable-checked) {
  color: var(--ant-color-text-disabled);
}

.ant-tag-checkable-disabled:not(.ant-tag-checkable-checked):hover {
  background-color: transparent;
}

.ant-tag-checkable-disabled.ant-tag-checkable-checked {
  color: var(--ant-color-text-disabled);
  background-color: var(--ant-color-bg-container-disabled);
}

.ant-tag-checkable-disabled:hover,
.ant-tag-checkable-disabled:active {
  background-color: var(--ant-color-bg-container-disabled);
  color: var(--ant-color-text-disabled);
}

.ant-tag-checkable-disabled:not(.ant-tag-checkable-checked):hover {
  color: var(--ant-color-text-disabled);
}

.ant-tag-checkable-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ant-padding-xs);
}

.ant-tag-hidden {
  display: none;
}

.ant-tag > .anticon + span,
.ant-tag > span + .anticon {
  margin-inline-start: calc(8px - var(--ant-line-width));
}

.ant-tag-solid {
  border-color: transparent;
  color: var(--ant-color-text-light-solid);
  background-color: var(--ant-color-bg-solid);
}

.ant-tag-solid.ant-tag-default {
  color: var(--ant-tag-solid-text-color);
}

.ant-tag-filled {
  border-color: transparent;
  background-color: var(--ant-tag-default-bg);
}

.ant-tag-disabled {
  color: var(--ant-color-text-disabled);
  cursor: not-allowed;
  background-color: var(--ant-color-bg-container-disabled);
}

.ant-tag-disabled a {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--ant-color-text-disabled);
}

.ant-tag-disabled a:hover {
  color: var(--ant-color-text-disabled);
}

a.ant-tag-disabled:hover,
a.ant-tag-disabled:active {
  color: var(--ant-color-text-disabled);
}

.ant-tag-disabled.ant-tag-outlined {
  border-color: var(--ant-color-border-disabled);
}

.ant-tag-disabled.ant-tag-solid,
.ant-tag-disabled.ant-tag-filled {
  color: var(--ant-color-text-disabled);
}

.ant-tag-disabled.ant-tag-solid .ant-tag-close-icon,
.ant-tag-disabled.ant-tag-filled .ant-tag-close-icon {
  color: var(--ant-color-text-disabled);
}

.ant-tag-disabled .ant-tag-close-icon {
  cursor: not-allowed;
  color: var(--ant-color-text-disabled);
}

.ant-tag-disabled .ant-tag-close-icon:hover {
  color: var(--ant-color-text-disabled);
}

.ant-tag {
  --ant-tag-default-bg: #fafafa;
  --ant-tag-default-color: rgba(0, 0, 0, 0.88);
  --ant-tag-solid-text-color: #fff;
}

.ant-picker-dropdown .ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
  color: var(--ant-color-primary);
  background: var(--ant-date-picker-cell-active-with-range-bg);
  border-color: var(--ant-color-primary-border);
  cursor: pointer;
}

.ant-tag.ant-tag-blue:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-blue-1);
  border-color: var(--ant-blue-3);
  color: var(--ant-blue-7);
}

.ant-tag.ant-tag-blue:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-blue-6);
  border-color: var(--ant-blue-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-blue:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-blue-1);
  color: var(--ant-blue-7);
}

.ant-tag.ant-tag-purple:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-purple-1);
  border-color: var(--ant-purple-3);
  color: var(--ant-purple-7);
}

.ant-tag.ant-tag-purple:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-purple-6);
  border-color: var(--ant-purple-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-purple:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-purple-1);
  color: var(--ant-purple-7);
}

.ant-tag.ant-tag-cyan:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-cyan-1);
  border-color: var(--ant-cyan-3);
  color: var(--ant-cyan-7);
}

.ant-tag.ant-tag-cyan:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-cyan-6);
  border-color: var(--ant-cyan-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-cyan:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-cyan-1);
  color: var(--ant-cyan-7);
}

.ant-tag.ant-tag-green:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-green-1);
  border-color: var(--ant-green-3);
  color: var(--ant-green-7);
}

.ant-tag.ant-tag-green:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-green-6);
  border-color: var(--ant-green-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-green:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-green-1);
  color: var(--ant-green-7);
}

.ant-tag.ant-tag-magenta:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-magenta-1);
  border-color: var(--ant-magenta-3);
  color: var(--ant-magenta-7);
}

.ant-tag.ant-tag-magenta:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-magenta-6);
  border-color: var(--ant-magenta-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-magenta:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-magenta-1);
  color: var(--ant-magenta-7);
}

.ant-tag.ant-tag-pink:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-pink-1);
  border-color: var(--ant-pink-3);
  color: var(--ant-pink-7);
}

.ant-tag.ant-tag-pink:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-pink-6);
  border-color: var(--ant-pink-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-pink:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-pink-1);
  color: var(--ant-pink-7);
}

.ant-tag.ant-tag-red:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-red-1);
  border-color: var(--ant-red-3);
  color: var(--ant-red-7);
}

.ant-tag.ant-tag-red:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-red-6);
  border-color: var(--ant-red-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-red:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-red-1);
  color: var(--ant-red-7);
}

.ant-tag.ant-tag-orange:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-orange-1);
  border-color: var(--ant-orange-3);
  color: var(--ant-orange-7);
}

.ant-tag.ant-tag-orange:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-orange-6);
  border-color: var(--ant-orange-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-orange:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-orange-1);
  color: var(--ant-orange-7);
}

.ant-tag.ant-tag-yellow:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-yellow-1);
  border-color: var(--ant-yellow-3);
  color: var(--ant-yellow-7);
}

.ant-tag.ant-tag-yellow:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-yellow-6);
  border-color: var(--ant-yellow-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-yellow:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-yellow-1);
  color: var(--ant-yellow-7);
}

.ant-tag.ant-tag-volcano:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-volcano-1);
  border-color: var(--ant-volcano-3);
  color: var(--ant-volcano-7);
}

.ant-tag.ant-tag-volcano:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-volcano-6);
  border-color: var(--ant-volcano-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-volcano:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-volcano-1);
  color: var(--ant-volcano-7);
}

.ant-tag.ant-tag-geekblue:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-geekblue-1);
  border-color: var(--ant-geekblue-3);
  color: var(--ant-geekblue-7);
}

.ant-tag.ant-tag-geekblue:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-geekblue-6);
  border-color: var(--ant-geekblue-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-geekblue:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-geekblue-1);
  color: var(--ant-geekblue-7);
}

.ant-tag.ant-tag-lime:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-lime-1);
  border-color: var(--ant-lime-3);
  color: var(--ant-lime-7);
}

.ant-tag.ant-tag-lime:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-lime-6);
  border-color: var(--ant-lime-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-lime:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-lime-1);
  color: var(--ant-lime-7);
}

.ant-tag.ant-tag-gold:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-gold-1);
  border-color: var(--ant-gold-3);
  color: var(--ant-gold-7);
}

.ant-tag.ant-tag-gold:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-gold-6);
  border-color: var(--ant-gold-6);
  color: var(--ant-color-text-light-solid);
}

.ant-tag.ant-tag-gold:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-gold-1);
  color: var(--ant-gold-7);
}

.ant-tag.ant-tag-success:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-color-success-bg);
  border-color: var(--ant-color-success-border);
  color: var(--ant-color-success);
}

.ant-tag.ant-tag-success:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-color-success);
  border-color: var(--ant-color-success);
}

.ant-tag.ant-tag-success:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-color-success-bg);
  color: var(--ant-color-success);
}

.ant-tag.ant-tag-processing:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-color-info-bg);
  border-color: var(--ant-color-info-border);
  color: var(--ant-color-info);
}

.ant-tag.ant-tag-processing:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-color-info);
  border-color: var(--ant-color-info);
}

.ant-tag.ant-tag-processing:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-color-info-bg);
  color: var(--ant-color-info);
}

.ant-tag.ant-tag-error:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-color-error-bg);
  border-color: var(--ant-color-error-border);
  color: var(--ant-color-error);
}

.ant-tag.ant-tag-error:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-color-error);
  border-color: var(--ant-color-error);
}

.ant-tag.ant-tag-error:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-color-error-bg);
  color: var(--ant-color-error);
}

.ant-tag.ant-tag-warning:not(.ant-tag-disabled).ant-tag-outlined {
  background-color: var(--ant-color-warning-bg);
  border-color: var(--ant-color-warning-border);
  color: var(--ant-color-warning);
}

.ant-tag.ant-tag-warning:not(.ant-tag-disabled).ant-tag-solid {
  background-color: var(--ant-color-warning);
  border-color: var(--ant-color-warning);
}

.ant-tag.ant-tag-warning:not(.ant-tag-disabled).ant-tag-filled {
  background-color: var(--ant-color-warning-bg);
  color: var(--ant-color-warning);
}
