/* Timeline - .ant-timeline */

.ant-timeline {
  font-family: var(--ant-font-family);
  font-size: var(--ant-font-size);
  box-sizing: border-box;
}

.ant-timeline::before,
.ant-timeline::after {
  box-sizing: border-box;
}

.ant-timeline [class^="ant-timeline"],
.ant-timeline [class*=" ant-timeline"] {
  box-sizing: border-box;
}

.ant-timeline [class^="ant-timeline"]::before,
.ant-timeline [class*=" ant-timeline"]::before,
.ant-timeline [class^="ant-timeline"]::after,
.ant-timeline [class*=" ant-timeline"]::after {
  box-sizing: border-box;
}

.ant-timeline {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
}

.ant-timeline .ant-timeline-item {
  --steps-title-horizontal-title-height: var(--ant-font-height);
  --steps-vertical-rail-margin: 0px;
  --steps-title-horizontal-rail-gap: 0px;
  --steps-icon-dot-size-origin: var(--steps-icon-size-active);
  --steps-icon-dot-size-custom: var(--ant-timeline-dot-size);
  --steps-item-icon-dot-bg-color-origin: var(--steps-item-icon-dot-bg-color);
  --steps-item-icon-dot-bg-color-custom: var(--ant-timeline-dot-bg);
  --steps-icon-size: var(
    --steps-icon-dot-size-custom,
    var(--steps-icon-dot-size-origin)
  );
}

.ant-timeline .ant-timeline-item .ant-timeline-item-icon {
  --steps-dot-icon-border-width: var(--ant-timeline-dot-border-width);
  --steps-dot-icon-size: var(--steps-icon-size);
  --steps-item-icon-dot-bg-color: var(
    --steps-item-icon-dot-bg-color-custom,
    var(--steps-item-icon-dot-bg-color-origin)
  );
}

.ant-timeline .ant-timeline-item .ant-timeline-item-title {
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
}

.ant-timeline .ant-timeline-item .ant-timeline-item-content {
  color: var(--ant-color-text);
}

.ant-timeline .ant-timeline-item .ant-timeline-item-rail {
  --steps-item-solid-line-color: var(--ant-timeline-tail-color);
  --steps-rail-size: var(--ant-timeline-tail-width);
}

.ant-timeline .ant-timeline-item {
  --steps-item-process-rail-line-style: dotted;
}

.ant-timeline
  .ant-timeline-item.ant-timeline-item.ant-timeline-item-color-blue {
  --steps-item-icon-dot-color: var(--ant-color-primary);
}

.ant-timeline .ant-timeline-item.ant-timeline-item.ant-timeline-item-color-red {
  --steps-item-icon-dot-color: var(--ant-color-error);
}

.ant-timeline
  .ant-timeline-item.ant-timeline-item.ant-timeline-item-color-green {
  --steps-item-icon-dot-color: var(--ant-color-success);
}

.ant-timeline
  .ant-timeline-item.ant-timeline-item.ant-timeline-item-color-gray {
  --steps-item-icon-dot-color: var(--ant-color-text-disabled);
}

.ant-timeline:not(.ant-timeline-horizontal) {
  --timeline-head-span: 12;
  --timeline-head-span-ptg: calc(var(--timeline-head-span) / 24 * 100%);
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item {
  --timeline-alternate-gap: calc(
    var(--ant-margin) *
    2 +
    var(--steps-dot-icon-size)
  );
  min-height: auto;
  padding-bottom: var(--ant-timeline-item-padding-bottom);
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-icon,
.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-rail {
  position: absolute;
  inset-inline-start: var(--timeline-head-span-ptg);
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-icon {
  margin-inline-start: calc(var(--steps-icon-size) / -2);
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-section {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--timeline-alternate-gap);
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-header {
  text-align: end;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1
    calc(var(--timeline-head-span-ptg) - var(--timeline-alternate-gap) / 2);
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-content {
  text-align: start;
  flex: 1 1
    calc(
      100% -
      var(--timeline-head-span-ptg) -
      var(--timeline-alternate-gap) /
      2
    );
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item-placement-end
  .ant-timeline-item-header {
  text-align: start;
  order: 1;
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item-placement-end
  .ant-timeline-item-content {
  text-align: end;
}

.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item-placement-end
  .ant-timeline-item-icon,
.ant-timeline:not(.ant-timeline-horizontal).ant-timeline-layout-alternate
  .ant-timeline-item-placement-end
  .ant-timeline-item-rail {
  inset-inline-start: calc(100% - var(--timeline-head-span-ptg));
}

.ant-timeline:not(.ant-timeline-horizontal):not(.ant-timeline-layout-alternate)
  .ant-timeline-item-placement-end {
  text-align: end;
}

.ant-timeline:not(.ant-timeline-horizontal):not(.ant-timeline-layout-alternate)
  .ant-timeline-item-placement-end
  .ant-timeline-item-icon {
  order: 1;
}

.ant-timeline:not(.ant-timeline-horizontal):not(.ant-timeline-layout-alternate)
  .ant-timeline-item-placement-end
  .ant-timeline-item-rail {
  inset-inline-start: auto;
  inset-inline-end: calc(var(--steps-icon-size) / 2);
  margin-inline-end: calc(var(--steps-rail-size) / -2);
}

.ant-timeline-horizontal {
  --steps-title-vertical-row-gap: var(--ant-padding-xs);
  --timeline-content-height: var(--ant-font-height);
  align-items: stretch;
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-wrapper {
  --timeline-alternate-content-offset: calc(
    var(--timeline-content-height) +
    var(--steps-title-vertical-row-gap) *
    2 +
    var(--steps-icon-size-max)
  );
  height: calc(
    var(--timeline-content-height) *
    2 +
    var(--steps-title-vertical-row-gap) *
    2 +
    var(--steps-icon-size-max)
  );
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-icon {
  position: absolute;
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-icon,
.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-rail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-title,
.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-subtitle,
.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-content {
  white-space: nowrap;
  max-width: unset;
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item
  .ant-timeline-item-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item-placement-start
  .ant-timeline-item-title {
  bottom: var(--timeline-alternate-content-offset);
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item-placement-start
  .ant-timeline-item-content {
  top: var(--timeline-alternate-content-offset);
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item-placement-end
  .ant-timeline-item-title {
  top: var(--timeline-alternate-content-offset);
}

.ant-timeline-horizontal.ant-timeline-layout-alternate
  .ant-timeline-item-placement-end
  .ant-timeline-item-content {
  bottom: var(--timeline-alternate-content-offset);
}

.ant-timeline-horizontal:not(.ant-timeline-layout-alternate)
  .ant-timeline-item-placement-end {
  display: flex;
  align-items: flex-end;
}

.ant-timeline-horizontal:not(.ant-timeline-layout-alternate)
  .ant-timeline-item-placement-end
  .ant-timeline-item-wrapper {
  flex: auto;
  flex-direction: column-reverse;
}

.ant-timeline-horizontal:not(.ant-timeline-layout-alternate)
  .ant-timeline-item-placement-end
  .ant-timeline-item-rail {
  top: auto;
  bottom: var(--steps-horizontal-rail-margin);
  transform: translateY(50%);
}

.ant-timeline {
  --ant-timeline-tail-color: rgba(5, 5, 5, 0.06);
  --ant-timeline-tail-width: 2px;
  --ant-timeline-dot-border-width: 2px;
  --ant-timeline-item-padding-bottom: 20px;
}
