/* Tooltip - .ant-tooltip */

.ant-slider-tooltip .ant-tooltip-container {
  min-width: unset;
}

.ant-tooltip {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ant-color-text);
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  list-style: none;
  font-family: var(--ant-font-family);
  position: absolute;
  z-index: var(--ant-tooltip-z-index-popup);
  display: block;
  width: max-content;
  max-width: 250px;
  visibility: visible;
  --valid-offset-x: var(--arrow-offset-horizontal, var(--arrow-x));
  transform-origin: var(--valid-offset-x, 50%) var(--arrow-y, 50%);
  --antd-arrow-background-color: var(--ant-color-bg-spotlight);
}

.ant-tooltip-hidden {
  display: none;
}

.ant-tooltip .ant-tooltip-container {
  min-width: calc(var(--ant-border-radius) * 2 + var(--ant-size-popup-arrow));
  min-height: var(--ant-control-height);
  padding: calc(var(--ant-padding-sm) / 2) var(--ant-padding-xs);
  color: var(--ant-tooltip-color, var(--ant-color-text-light-solid));
  text-align: start;
  text-decoration: none;
  word-wrap: break-word;
  background-color: var(--ant-color-bg-spotlight);
  border-radius: var(--ant-border-radius);
  box-shadow: var(--ant-box-shadow-secondary);
  box-sizing: border-box;
}

.ant-tooltip .ant-tooltip-container.ant-fade-enter,
.ant-tooltip .ant-tooltip-container.ant-fade-appear {
  animation-duration: var(--ant-motion-duration-mid);
  animation-fill-mode: both;
  animation-play-state: paused;
}

.ant-tooltip .ant-tooltip-container.ant-fade-leave {
  animation-duration: var(--ant-motion-duration-mid);
  animation-fill-mode: both;
  animation-play-state: paused;
}

.ant-tooltip .ant-tooltip-container.ant-fade-enter.ant-fade-enter-active,
.ant-tooltip .ant-tooltip-container.ant-fade-appear.ant-fade-appear-active {
  animation-name: antFadeIn;
  animation-play-state: running;
}

.ant-tooltip .ant-tooltip-container.ant-fade-leave.ant-fade-leave-active {
  animation-name: antFadeOut;
  animation-play-state: running;
  pointer-events: none;
}

.ant-tooltip .ant-tooltip-container.ant-fade-enter,
.ant-tooltip .ant-tooltip-container.ant-fade-appear {
  opacity: 0;
  animation-timing-function: linear;
}

.ant-tooltip .ant-tooltip-container.ant-fade-leave {
  animation-timing-function: linear;
}

.ant-tooltip:has(~ .ant-tooltip-unique-container) .ant-tooltip-container {
  border: none;
  background: transparent;
  box-shadow: none;
}

.ant-tooltip-placement-topLeft,
.ant-tooltip-placement-topRight,
.ant-tooltip-placement-bottomLeft,
.ant-tooltip-placement-bottomRight {
  min-width: calc(
    var(--ant-border-radius) +
    var(--ant-size-popup-arrow) +
    var(--ant-tooltip-arrow-offset-horizontal)
  );
}

.ant-tooltip-placement-left .ant-tooltip-inner,
.ant-tooltip-placement-leftTop .ant-tooltip-inner,
.ant-tooltip-placement-leftBottom .ant-tooltip-inner,
.ant-tooltip-placement-right .ant-tooltip-inner,
.ant-tooltip-placement-rightTop .ant-tooltip-inner,
.ant-tooltip-placement-rightBottom .ant-tooltip-inner {
  border-radius: min(var(--ant-border-radius), 8px);
}

.ant-tooltip .ant-tooltip-content {
  position: relative;
}

.ant-tooltip.ant-tooltip-blue .ant-tooltip-container {
  background-color: var(--ant-blue-6);
}

.ant-tooltip.ant-tooltip-blue .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-blue-6);
}

.ant-tooltip.ant-tooltip-purple .ant-tooltip-container {
  background-color: var(--ant-purple-6);
}

.ant-tooltip.ant-tooltip-purple .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-purple-6);
}

.ant-tooltip.ant-tooltip-cyan .ant-tooltip-container {
  background-color: var(--ant-cyan-6);
}

.ant-tooltip.ant-tooltip-cyan .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-cyan-6);
}

.ant-tooltip.ant-tooltip-green .ant-tooltip-container {
  background-color: var(--ant-green-6);
}

.ant-tooltip.ant-tooltip-green .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-green-6);
}

.ant-tooltip.ant-tooltip-magenta .ant-tooltip-container {
  background-color: var(--ant-magenta-6);
}

.ant-tooltip.ant-tooltip-magenta .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-magenta-6);
}

.ant-tooltip.ant-tooltip-pink .ant-tooltip-container {
  background-color: var(--ant-pink-6);
}

.ant-tooltip.ant-tooltip-pink .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-pink-6);
}

.ant-tooltip.ant-tooltip-red .ant-tooltip-container {
  background-color: var(--ant-red-6);
}

.ant-tooltip.ant-tooltip-red .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-red-6);
}

.ant-tooltip.ant-tooltip-orange .ant-tooltip-container {
  background-color: var(--ant-orange-6);
}

.ant-tooltip.ant-tooltip-orange .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-orange-6);
}

.ant-tooltip.ant-tooltip-yellow .ant-tooltip-container {
  background-color: var(--ant-yellow-6);
}

.ant-tooltip.ant-tooltip-yellow .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-yellow-6);
}

.ant-tooltip.ant-tooltip-volcano .ant-tooltip-container {
  background-color: var(--ant-volcano-6);
}

.ant-tooltip.ant-tooltip-volcano .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-volcano-6);
}

.ant-tooltip.ant-tooltip-geekblue .ant-tooltip-container {
  background-color: var(--ant-geekblue-6);
}

.ant-tooltip.ant-tooltip-geekblue .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-geekblue-6);
}

.ant-tooltip.ant-tooltip-lime .ant-tooltip-container {
  background-color: var(--ant-lime-6);
}

.ant-tooltip.ant-tooltip-lime .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-lime-6);
}

.ant-tooltip.ant-tooltip-gold .ant-tooltip-container {
  background-color: var(--ant-gold-6);
}

.ant-tooltip.ant-tooltip-gold .ant-tooltip-arrow {
  --antd-arrow-background-color: var(--ant-gold-6);
}

.ant-tooltip-rtl {
  direction: rtl;
}

.ant-tooltip .ant-tooltip-arrow {
  position: absolute;
  z-index: 1;
  display: block;
  pointer-events: none;
  width: var(--ant-size-popup-arrow);
  height: var(--ant-size-popup-arrow);
  overflow: hidden;
}

.ant-tooltip .ant-tooltip-arrow::before {
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  width: var(--ant-size-popup-arrow);
  height: calc(var(--ant-size-popup-arrow) / 2);
  background: var(--antd-arrow-background-color);
  clip-path: var(--ant-tooltip-arrow-polygon);
  clip-path: var(--ant-tooltip-arrow-path);
  content: "";
}

.ant-tooltip .ant-tooltip-arrow::after {
  content: "";
  position: absolute;
  width: var(--ant-tooltip-arrow-shadow-width);
  height: var(--ant-tooltip-arrow-shadow-width);
  bottom: 0;
  inset-inline: 0;
  margin: auto;
  border-radius: 0 0 var(--ant-border-radius-xs) 0;
  transform: translateY(50%) rotate(-135deg);
  box-shadow: var(--ant-box-shadow-popover-arrow);
  z-index: 0;
  background: transparent;
}

.ant-tooltip .ant-tooltip-arrow:before {
  background: var(--antd-arrow-background-color);
}

.ant-tooltip-placement-top > .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft > .ant-tooltip-arrow,
.ant-tooltip-placement-topRight > .ant-tooltip-arrow {
  bottom: 0;
  transform: translateY(100%) rotate(180deg);
}

.ant-tooltip-placement-top > .ant-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%) translateY(100%) rotate(180deg);
}

.ant-tooltip-placement-topLeft {
  --arrow-offset-horizontal: var(--ant-tooltip-arrow-offset-horizontal);
}

.ant-tooltip-placement-topLeft > .ant-tooltip-arrow {
  left: var(--ant-tooltip-arrow-offset-horizontal);
}

.ant-tooltip-placement-topRight {
  --arrow-offset-horizontal: calc(
    100% -
    var(--ant-tooltip-arrow-offset-horizontal)
  );
}

.ant-tooltip-placement-topRight > .ant-tooltip-arrow {
  right: var(--ant-tooltip-arrow-offset-horizontal);
}

.ant-tooltip-placement-bottom > .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft > .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight > .ant-tooltip-arrow {
  top: 0;
  transform: translateY(-100%);
}

.ant-tooltip-placement-bottom > .ant-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.ant-tooltip-placement-bottomLeft {
  --arrow-offset-horizontal: var(--ant-tooltip-arrow-offset-horizontal);
}

.ant-tooltip-placement-bottomLeft > .ant-tooltip-arrow {
  left: var(--ant-tooltip-arrow-offset-horizontal);
}

.ant-tooltip-placement-bottomRight {
  --arrow-offset-horizontal: calc(
    100% -
    var(--ant-tooltip-arrow-offset-horizontal)
  );
}

.ant-tooltip-placement-bottomRight > .ant-tooltip-arrow {
  right: var(--ant-tooltip-arrow-offset-horizontal);
}

.ant-tooltip-placement-left > .ant-tooltip-arrow,
.ant-tooltip-placement-leftTop > .ant-tooltip-arrow,
.ant-tooltip-placement-leftBottom > .ant-tooltip-arrow {
  right: 0;
  transform: translateX(100%) rotate(90deg);
}

.ant-tooltip-placement-left > .ant-tooltip-arrow {
  top: 50%;
  transform: translateY(-50%) translateX(100%) rotate(90deg);
}

.ant-tooltip-placement-leftTop > .ant-tooltip-arrow {
  top: var(--ant-tooltip-arrow-offset-vertical);
}

.ant-tooltip-placement-leftBottom > .ant-tooltip-arrow {
  bottom: var(--ant-tooltip-arrow-offset-vertical);
}

.ant-tooltip-placement-right > .ant-tooltip-arrow,
.ant-tooltip-placement-rightTop > .ant-tooltip-arrow,
.ant-tooltip-placement-rightBottom > .ant-tooltip-arrow {
  left: 0;
  transform: translateX(-100%) rotate(-90deg);
}

.ant-tooltip-placement-right > .ant-tooltip-arrow {
  top: 50%;
  transform: translateY(-50%) translateX(-100%) rotate(-90deg);
}

.ant-tooltip-placement-rightTop > .ant-tooltip-arrow {
  top: var(--ant-tooltip-arrow-offset-vertical);
}

.ant-tooltip-placement-rightBottom > .ant-tooltip-arrow {
  bottom: var(--ant-tooltip-arrow-offset-vertical);
}

.ant-tooltip-pure {
  position: relative;
  max-width: none;
  margin: var(--ant-size-popup-arrow);
}

.ant-tooltip-unique-container {
  min-width: calc(var(--ant-border-radius) * 2 + var(--ant-size-popup-arrow));
  min-height: var(--ant-control-height);
  padding: calc(var(--ant-padding-sm) / 2) var(--ant-padding-xs);
  color: var(--ant-tooltip-color, var(--ant-color-text-light-solid));
  text-align: start;
  text-decoration: none;
  word-wrap: break-word;
  background-color: var(--ant-color-bg-spotlight);
  border-radius: var(--ant-border-radius);
  box-shadow: var(--ant-box-shadow-secondary);
  box-sizing: border-box;
  --valid-offset-x: var(--arrow-offset-horizontal, var(--arrow-x));
  transform-origin: var(--valid-offset-x, 50%) var(--arrow-y, 50%);
  position: absolute;
  z-index: calc(var(--ant-tooltip-z-index-popup) - 1);
}

.ant-tooltip-unique-container-hidden {
  display: none;
}

.ant-tooltip-unique-container-visible {
  transition: all var(--ant-motion-duration-slow);
}

.ant-tooltip-css-var {
  --ant-tooltip-z-index-popup: 1070;
  --ant-tooltip-arrow-offset-horizontal: 12px;
  --ant-tooltip-arrow-offset-vertical: 8px;
  --ant-tooltip-arrow-shadow-width: 8.970562748477143px;
  --ant-tooltip-arrow-path: path(
    "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
  );
  --ant-tooltip-arrow-polygon: polygon(
    1.6568542494923806px 100%,
    50% 1.6568542494923806px,
    14.34314575050762px 100%,
    1.6568542494923806px 100%
  );
}
