/**
 * Ant Design Web Components - Main Entry Point
 * Import this file to include all styles
 */

/* Design Tokens (light theme by default) */
@import "./tokens/light-tokens.css";

/* Base/Reset Styles */
@import "./base.css";

/* Component Styles */
@import "./components/affix.css";
@import "./components/alert.css";
@import "./components/anchor.css";
@import "./components/avatar.css";
@import "./components/badge.css";
@import "./components/breadcrumb.css";
@import "./components/btn.css";
@import "./components/card.css";
@import "./components/carousel.css";
@import "./components/cascader.css";
@import "./components/checkbox.css";
@import "./components/col.css";
@import "./components/collapse.css";
@import "./components/color-picker.css";
@import "./components/descriptions.css";
@import "./components/divider.css";
@import "./components/drawer.css";
@import "./components/dropdown.css";
@import "./components/empty.css";
@import "./components/flex.css";
@import "./components/float-btn.css";
@import "./components/form.css";
@import "./components/image.css";
@import "./components/input-number.css";
@import "./components/input.css";
@import "./components/layout.css";
@import "./components/list.css";
@import "./components/masonry.css";
@import "./components/mentions.css";
@import "./components/menu.css";
@import "./components/modal.css";
@import "./components/pagination.css";
@import "./components/picker.css";
@import "./components/popconfirm.css";
@import "./components/popover.css";
@import "./components/progress.css";
@import "./components/qrcode.css";
@import "./components/radio.css";
@import "./components/rate.css";
@import "./components/result.css";
@import "./components/row.css";
@import "./components/segmented.css";
@import "./components/select.css";
@import "./components/skeleton.css";
@import "./components/slider.css";
@import "./components/space.css";
@import "./components/spin.css";
@import "./components/splitter.css";
@import "./components/statistic.css";
@import "./components/steps.css";
@import "./components/switch.css";
@import "./components/table.css";
@import "./components/tabs.css";
@import "./components/tag.css";
@import "./components/timeline.css";
@import "./components/tooltip.css";
@import "./components/tour.css";
@import "./components/transfer.css";
@import "./components/tree-select.css";
@import "./components/tree.css";
@import "./components/typography.css";
@import "./components/upload.css";
